
html.onboarding {

  --logo1: hsl(186, 40%, 50%);
  --logo2: hsl(360, 70%, 60%);
  --logo3: hsl(260, 30%, 30%);
  --bg: hsl(46, 23%, 83%);
  --text: hsl(300, 20%, 20%);

  &.onboarding-1 {
    --text: white;
  }

  &.dark-background {
    --text: hsl(300, 20%, 90%);
  }

  // this is now my rem value
  // it's the body lineheight
  font-size: calc(7vw);
  @include ipad {
    font-size: calc(4vw);
  }

  body {
    margin: 0;
    // font-family: "IBMPlexMono";
    width: 100vw;
    background-color: var(--bg);
    color: white;
    overflow: hidden;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // padding-top: 200;
  }

  body::after {
    content: "";
    z-index: -1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("../img/onboarding-bg/onboarding-bg-1@3x.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: calc(100% - 20px);
    background-size: 100%;
    opacity: 0.5;
  }

  // slightly better, but not ideal
  &.dark-background body::after {
    opacity: 1;
  }

  &.onboarding-1 body::after {
    background-image: url("../img/onboarding-bg/onboarding-bg-2@3x.png");
  }

  &.onboarding-2 body::after {
    background-image: url("../img/onboarding-bg/onboarding-bg-3@3x.png");
  }

  article, .everything {
    padding: 0 1rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: green;
  }

  .everything {
    padding: 0;
    margin-top: calc(50vh - 1rem);
    justify-content: space-between;

    @include se {
      margin-top: calc(40vh - 1rem);
    }
  }

  &.onboarding-1 .everything {
    margin-top: calc(40vh - 1rem);
  }

  h1, h2 {
    color: var(--logo3);
    font-size: 2rem;
    font-family: PTSerif-Bold;
    font-weight: inherit;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    // height: calc(50% - 250px);
  }

  h2 {
    font-size: 1.5rem;
  }

  div.everything::before, h2::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20vh;
    top: 25%;
    transform: translateY(-50%);
    background-image: url("../img/ream@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  hr {
    border-top-style: none;
    margin: 2em;
  }

  &.onboarding-0 div.content {
    align-self: flex-end;
    width: 66%;

    p {
      text-align: right;
    }
  }

  div.content {
    align-self: center;
    width: 100%;
    p {
      text-align: left;
    }
  }

  // &.onboarding-2 div.content {
  //   align-self: flex-start;
  //   width: 50%;

  //   p {
  //     text-align: left;
  //   }
  // }

  p {
    font-family: "IBMPlexSans";
    color: var(--text);
    font-size: 0.666rem;
    line-height: 1rem;
    margin: 0 0 1rem;

    strong {
      font-family: "IBMPlexSans-Bold";
    }
    em {
      font-family: "IBMPlexSans-Italic";
    }

    &.subhead {
      color: var(--logo3);
      margin-bottom: 8vh;
    }
  }

  a {
    color: var(--text);
  }

  .swipe {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    text-align: center;
    font-size: 0.5rem;
    font-family: "IBMPlexSans-Italic";
    color: var(--text);
  }

  img {
    display: block;
    margin: -1rem auto 1rem;
  }

  &.dark-background {
    body {
      background-color: hsl(240, 0%, 0%);
      color: hsl(0, 0%, 90%);
      &, a, a:active, a:visited {
        color: hsl(0, 0%, 90%);
      }
    }
  }
}

html.onboarding.onboarding-1:not(.dark-background) body {
  background-color: var(--logo2);

  h1 {
    color: var(--bg);
  }
}

html.onboarding.onboarding-2:not(.dark-background) body {
  background-color: var(--logo1);

  h2 {
    color: var(--logo1);
  }
  p {
    color: var(--logo3);
  }
}
