
html.onboarding {

  --logo1: hsl(186, 40%, 50%);
  --logo2: hsl(360, 70%, 60%);
  --logo3: hsl(260, 30%, 30%);
  --bg: hsl(46, 23%, 83%);

  // this is now my rem value
  // it's the body lineheight
  font-size: calc(7vw);
  @include ipad {
    font-size: calc(4vw);
  }

  body {
    margin: 0;
    // font-family: "IBMPlexMono";
    width: 100vw;
    background-color: var(--logo1);
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120;
  }

  div.logo {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(/webview/img/rizzle.svg);
    background-size: cover;
    background-position: var(--logo-position);
    background-repeat: no-repeat;
    opacity: 0.05;
    overflow: hidden;
    transform: scale(1.3333);
  }

  article {
    padding: 1rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1, h2 {
    color: var(--logo3);
    font-size: 2rem;
    font-family: PTSerif-Bold;
    font-weight: inherit;
    line-height: 1;
    margin-top: 0;
    text-align: center;
    // height: calc(50% - 250px);
  }

  h2 {
    font-size: 1.5rem;
  }

  h1::before, h2::before {
    content: "";
    display: block;
    width: 100%;
    height: 12vh;
    margin-top: 6vh;
    margin-bottom: 6vh;
    background-image: url("../img/ream@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  hr {
    border-top-style: none;
    margin: 2em;
  }

  p {
    font-family: "IBMPlexSans";
    color: white;
    font-size: 0.666rem;
    line-height: 1rem;
    margin: 0 0 1rem;
    max-width: 15rem;
    text-align: center;

    strong {
      font-family: "IBMPlexSans-Bold";
    }
    em {
      font-family: "IBMPlexSans-Italic";
    }
  }

  a {
    color: white;
  }

  .swipe {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    text-align: center;
    font-size: 0.666rem;
    font-family: IBMPlexMono;
  }

  img {
    display: block;
    margin: -1rem auto 1rem;
  }

  &.dark-background {
    body {
      background-color: hsl(240, 0%, 0%);
      color: hsl(0, 0%, 90%);
      &, a, a:active, a:visited {
        color: hsl(0, 0%, 90%);
      }
    }
  }
}

html.onboarding.onboarding-1:not(.dark-background) body {
  background-color: var(--logo2);

  h1 {
    color: var(--bg);
  }
}

html.onboarding.onboarding-2:not(.dark-background) body {
  background-color: var(--logo3);
  h2 {
    color: var(--bg);
  }
}
