@import "./variables.css";

$red1: hsl(355, 56%, 63%);
$red2: hsl(341, 56%, 49%);
$orange1: hsl(23, 100%, 60%);
$orange2: hsl(33, 93%, 54%);
$yellow1: hsl(49, 100%, 50%);
$yellow2: hsl(65, 90%, 64%);
$green1: hsl(167, 80%, 55%);
$blue1: hsl(226, 68%, 57%);
$blue2: hsl(198, 90%, 44%);
$purple1: hsl(298, 32%, 56%);
$purple2: hsl(320, 82%, 66%);
$brown1: hsl(9, 61%, 71%);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.3;
  background-color: transparent;
  width: 100vw;
}

.item {
  height: 100vh;
}

.itemArticle {
  padding: 0;
  margin: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.cover, .body {
  position: relative;
  margin: 0;
  /*padding: calc($step * .5);*/
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.cover {
  min-height: 100vh;
  background-color: white;
  color: white;
  position: relative;
}

.coverCover {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.2);
}

.coverMultiply {

  .coverImage {
    -webkit-filter: grayscale(100%);
  }

  .coverCover {
    mix-blend-mode: multiply;
  }
}

.coverBorder {
  .coverImage, .coverCover {
    border: 10px solid white;
  }

  .header h1 {
    margin: 0 $step;
  }
}

.feed-name {
  position: absolute;
  top: 0;
  left: 0;
  height: calc($step + 15px);
  width: 100%;
  padding-top: 15px;
  text-align: center;
  font-size: 16px;
  font-family: "AvenirNext-Regular";
  font-weight: 300;
  font-variant: small-caps;
  background-color: black;
  color: white;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.header {
  position: absolute;
  /*width: calc(100% - $step);*/

  opacity: 0;
  transition: opacity .5s;
  background-color: transparent;
  font-variant-ligatures: none;

  h1, h2, aside {
    position: relative;
  }

  h1 {
    color: white;
    margin: 0 calc($step*.5);
    font-size: calc($step*1.5);
    line-height: 1;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.5);
    a {
      color: inherit;
      text-decoration: none;
    }

  }
}

.headerSmall {
  h1 {
    font-size: calc($step*1.2);
    line-height: 1;
  }
}

.headerSheepStealer {
  h1 {
    letter-spacing: .5em;
  }
}

.visible .header {
  animation: .75s linear fade-in;
  opacity: 1;
}


.scrolling .header {
  animation: .5s linear fade-out;
  opacity: 0;
}

h2, aside {
  text-align: center;
}

.headerTop {
  top: calc($step * 2);
}

.headerBottom {
  bottom: $step;
}

.headerMiddle {
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}

.headerBlack {
  h1 {
    color: black;
    text-shadow: 0,0,0;
  }
}

.headerCentered {
  text-align: center;
  padding: 0 !important;
}

.headerUnderlined {
  h1 {
    border-bottom: 5px solid;
    line-height: 1.3;
  }
}

.headerCentered.headerUnderlined {
  h1 {
    display: inline;
    border-bottom: 1px solid;
  }
}

.headerItalic {
  h1 {
    font-style: italic;
  }
}

.headerBlock {
  padding: 0;
  h1 {
    display: block !important;
    padding: calc($step * .25);
    color: white;
    background-color: hsla(0, 0%, 0%, 0.7);
    text-shadow: none;
  }
}

.headerBlockInverse {
  padding: 0;
  h1 {
    display: block !important;
    padding: calc($step * .25);
    background-color: hsla(0, 0%, 100%, 0.8);
    color: black;
    text-shadow: none;
  }
}

.coverImage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}

.coverImageGuardian {
  transform: scale(1.2);
  transform-origin: top;
}

.the-rest, .body {
  background-color: hsl(60, 17%, 96%);
  color: hsl(0, 0%, 20%);
}

.the-rest {
  margin: $step 0;
  padding-top: calc($step * 2);
  padding-bottom: calc($step * 3);
  h1, h2, h3 {
    margin: calc($step * 2) 0 $step;
    padding: calc($step * .5);
    font-family: 'AvenirNext-Regular';
  }

  h3 {
    font-weight: 300;
    text-align: center;
  }
}

.body {
  position: relative;
  z-index: 10;
  padding: $step calc($step * 0.5);
  width: 100vw;
  font-family: "Cochin", serif;
  hyphens: auto;

  p {
    margin: 0;
    margin-bottom: $step;
  }

  img, video, iframe, pre {
    position: relative;
    max-width: calc(100vw - $step) !important;
    height: auto !important;
    margin: 0 0 $step;
    border: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  img:not(.img-portrait):not(.img-small), video, iframe, pre {
    width: 100vw;
    max-width: 100vw !important;
    width: 100vw !important;
    left: calc($step * -0.5);
    overflow: scroll;
    border-bottom: 1px solid hsl(0, 0%, 93%);
  }

  img.img-portrait, img.img-small {
    display: block;
    margin: $step/2 auto;
  }

  /* gambling that it's a video */
  iframe, video {
    height: 55vw !important;
  }

  blockquote {
    margin: 0 0 $step;
    font-style: italic;
    font-size: 0.9em;
    line-height: $step;
    background-color: white;
    left: calc($step * -0.5);
    width: 100vw;
    padding: $step calc($step * 0.5);
    display: block;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid rgba(0, 0, 0, 0.05);

    & > p:last-of-type {
      margin-bottom: 0;
    }

    &.short-blockquote {
      background-color: transparent;
      border: none;
      font-size: 2em;
      line-height: 1em;
      padding: 1px .5em;
      text-align: center;
    }
  }

  figcaption {
    position: relative;
    margin: -36px -28px 0;
    padding: 14px 28px;
    border-bottom: 1px solid hsl(0, 0%, 93%);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    color: hsl(0, 0%, 67%);
    background-color: white;
    position: relative;
    top: -3px;
  }

  a.unused, a.unused:active, a.unused:visited {
    color: inherit !important;
    text-decoration: none;
    background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 19px, hsla(60, 100%, 39%, 0.3) 19px, hsla(60, 100%, 39%, 0.3) 24px);
    /*display: inline-block;*/
    /*padding-bottom: 0;*/
    /*line-height: .5;*/

    img {
      /* hide link gradient */
      margin-bottom: -6px;
    }
  }

  figure {
    padding: 0;
    margin: 0 0 calc($step * 1.5);
  }

  iframe {
  }

  pre {
    font-size: 14px;
    line-height: 1.4;
    overflow: scroll;
    color: hsl(0, 0%, 20%);
    padding: calc($step * .5);
  }

  div:not(:first-of-type) > p:not(.short-para):first-of-type {
    margin-top: calc($step * 3)
  }
}

article {
  margin-bottom: calc($step * 6);
}

article > div:not(:last-of-type) p:last-of-type {
  margin-bottom: calc($step * 6);
}

div > p:not(.short-para):first-of-type {
  &:first-letter {
    font-size: 6rem;
    line-height: .33;
    float: left;
    display: block;
    margin: 28px 6px 12px 0;
    font-family: Avenir;
    font-weight: 700;
  }

  &.firstPara {
    border-top: 0;
    padding-top: 0;
  }
}

.short-para {

}


.bodyFontSerif1 {
  .body {
    font-family: "Cochin", serif;
    font-size: 22px;
  }
}

.bodyFontSans1 {
  .body {
    font-family: "Gill Sans", sans-serif;
  }
}

.bodyFontSerif1 {
  .body {
    font-family: "Cochin", serif;
    font-size: 22px;
  }
}

.bodyFontSerif2 {
  .body {
    font-family: "Hoefler Text", serif;
  }
}

.bodyFontSans2 {
  .body {
    font-family: "Gill Sans", serif;
  }
}

.itemArticle {
  .body {
    a, a:active, a:visited {
      text-decoration: none;
    }
  }
  &.red1 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $red1;
      }

      &:first-letter {
        color: $red1;
      }
    }

    .body {
      a, a:active, a:visited {
        color: color($red1 shade(40%));
      }

      blockquote.short-blockquote {
        color: $red1;
      }
    }
  }
  &.red2 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $red2;
      }

      &:first-letter {
        color: $red2;
      }
    }

    .body {
      a, a:active, a:visited {
        color: color($red2 shade(40%));
      }

      blockquote.short-blockquote {
        color: $red2;
      }
    }
  }
  &.orange1 {
    div > p:not(.):first-of-type {
      &:before {
        background-color: $orange1;
      }

      &:first-letter {
        color: $orange1;
      }
    }

    .body {
      a, a:active, a:visited {
        color: color($orange1 shade(40%));
      }

      blockquote.short-blockquote {
        color: $orange1;
      }
    }
  }
  &.orange2 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $orange2;
      }

      &:first-letter {
        color: $orange2;
      }
    }

    .body {
      a, a:active, a:visited {
        color: color($orange2 shade(40%));
      }

      blockquote.short-blockquote {
        color: $orange2;
      }
    }
  }
  &.yellow1 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $yellow1;
      }

      &:first-letter {
        color: $yellow1;
      }
    }

    .body {
      a, a:active, a:visited {
        color: color($yellow1 shade(40%));
      }

      blockquote.short-blockquote {
        color: $yellow1;
      }
    }
  }
  &.yellow2 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $yellow2;
      }

      &:first-letter {
        color: $yellow2;
      }
    }

    .body {
      a, a:active, a:visited {
        color: color($yellow2 shade(40%));
      }

      blockquote.short-blockquote {
        color: $yellow2;
      }
    }
  }
  &.green1 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $green1;
      }

      &:first-letter {
        color: $green1;
      }
    }

    .body {
      a, a:active, a:visited {
        color: color($green1 shade(40%));
      }

      blockquote.short-blockquote {
        color: $green1;
      }
    }
  }
  &.blue1 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $blue1;
      }

      &:first-letter {
        color: $blue1;
      }
    }

    .body {
      a, a:active, a:visited {
        color: color($blue1 shade(40%));
      }

      blockquote.short-blockquote {
        color: $blue1;
      }
    }
  }
  &.blue2 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $blue2;
      }

      &:first-letter {
        color: $blue2;
      }
    }

    .body {
      a, a:active, a:visited {
        color: color($blue2 shade(40%));
      }

      blockquote.short-blockquote {
        color: $blue2;
      }
    }
  }
  &.purple1 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $purple1;
      }

      &:first-letter {
        color: $purple1;
      }
    }

    .body {
      a, a:active, a:visited {
        color: color($purple1 shade(40%));
      }

      blockquote.short-blockquote {
        color: $purple1;
      }
    }
  }
  &.brown1 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $brown1;
      }

      &:first-letter {
        color: $brown1;
      }
    }

    .body {
      a, a:active, a:visited {
        color: color($brown1 shade(40%));
      }

      blockquote.short-blockquote {
        color: $brown1;
      }
    }
  }

  .feedflare {
    display: none;
  }
}
