.web {
  &.font-size-3 {
    font-size: 28px;
  }

  .coverHolder {
    .hasCoverImage & {
      position: relative; 
      top: 0; 
      left: 0; 
      width: 100vw; 
    }
  }
  
  .itemTitle {
    margin: 1rem 4vw;
    margin-bottom: 0;
    max-width: 900px;
    z-index: 2;
  
    .hasCoverImage & {
      color: white;
      position: absolute;
      bottom: 0;
  
      &.center {
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        max-width: 1000px;
      }
  
      &.top {
        top: 0;
        bottom: auto;
      }
  
      &.bottom {
        bottom: 0;
        top: auto;
      }
  
      &.middle {
        top: 50%;
        transform: translateY(-50%);
      }
      
    }
  
    h1, h2, h3, h4, h5 {
      line-height: 1.1;
    }
  
    p {
      font-size: 0.7rem;
    }
  
    .date-published {
      font-size: 0.6rem;
      font-family: "IBMPlexMono-Light" !important;
    }
  
    &.center {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    
    &.isUpperCase h1 {
      text-transform: uppercase;
    }
  
  
    &.bg.hasCoverImage h1 {
      background-color: rgba(255,255,255,0.9);
      color: black;
      padding: 0.5rem;
    }
  
    .hasCoverImage &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      margin: 0 -4vw 2rem;
      width: calc(100vw + 4vw);
      height: calc(100% + 2rem);
      z-index: -1;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0) 100%);
    }
  
    &.center::after {
      margin: 0 calc(50% - 50vw) 2rem;
    }
  
  }
  
  @media screen and (min-width: 32rem) {
    .itemTitle {
      margin: 1rem;
    }
  }
  
  
  .hasCoverImage .coverImage {
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 100%;
    // z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .articleHolder {
    background-color: hsl(60, 17%, 96%);
    position: relative;
    z-index: 2;
  
    .dark-background & {
      background-color: hsl(240, 0%, 0%);
    }
  }
  
  h1, h2, h3, h4 {
    font-weight: normal;
  }
  
  .itemTitle h4 {
    font-size: 0.8rem;
  }
}

