<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>801044191408-empgb5stl1s3fcqs8jn8loaq7ic20if5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801044191408-empgb5stl1s3fcqs8jn8loaq7ic20if5</string>
	<key>API_KEY</key>
	<string>AIzaSyDt3eHXKvBYhgo6f_SoXgG32fB2Db-OH84</string>
	<key>GCM_SENDER_ID</key>
	<string>801044191408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adam-butler.rizzle</string>
	<key>PROJECT_ID</key>
	<string>rizzle-base</string>
	<key>STORAGE_BUCKET</key>
	<string>rizzle-base.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801044191408:ios:b79d82a4d6cd5958</string>
	<key>DATABASE_URL</key>
	<string>https://rizzle-base.firebaseio.com</string>
</dict>
</plist>