* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.3;
  background-color: transparent;
  width: 100vw;
}

.item {
  height: 100vh;
}

.itemArticle {
  padding: 0;
  margin: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.cover, .body {
  position: relative;
  margin: 0;
  /*padding: calc($step * .5);*/
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.cover {
  min-height: 100vh;
  background-color: white;
  color: white;
  position: relative;
}

.coverCover {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.2);
}

.coverMultiply .coverImage {
  -webkit-filter: grayscale(100%);
}

.coverMultiply .coverCover {
  mix-blend-mode: multiply;
}

.coverBorder .coverImage, .coverBorder .coverCover {
  border: 10px solid white;
}

.coverBorder .header h1 {
  margin: 0 26px;
}

.feed-name {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(26px + 15px);
  width: 100%;
  padding-top: 15px;
  text-align: center;
  font-size: 16px;
  font-family: "AvenirNext-Regular";
  font-weight: 300;
  font-variant: small-caps;
  background-color: black;
  color: white;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.header {
  position: absolute;
  /*width: calc(100% - $step);*/

  opacity: 0;
  transition: opacity .5s;
  background-color: transparent;
  -webkit-font-variant-ligatures: none;
          font-variant-ligatures: none;
}

.header h1, .header h2, .header aside {
  position: relative;
}

.header h1 {
  color: white;
  margin: 0 calc(26px*.5);
  font-size: calc(26px*1.5);
  line-height: 1;
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.5);
}

.header h1 a {
  color: inherit;
  text-decoration: none;
}

.headerSmall h1 {
  font-size: calc(26px*1.2);
  line-height: 1;
}

.headerSheepStealer h1 {
  letter-spacing: .5em;
}

.visible .header {
  -webkit-animation: .75s linear fade-in;
          animation: .75s linear fade-in;
  opacity: 1;
}

.scrolling .header {
  -webkit-animation: .5s linear fade-out;
          animation: .5s linear fade-out;
  opacity: 0;
}

h2, aside {
  text-align: center;
}

.headerTop {
  top: calc(26px * 2);
}

.headerBottom {
  bottom: 26px;
}

.headerMiddle {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;
}

.headerBlack h1 {
  color: black;
  text-shadow: 0,0,0;
}

.headerCentered {
  text-align: center;
  padding: 0 !important;
}

.headerUnderlined h1 {
  border-bottom: 5px solid;
  line-height: 1.3;
}

.headerCentered.headerUnderlined h1 {
  display: inline;
  border-bottom: 1px solid;
}

.headerItalic h1 {
  font-style: italic;
}

.headerBlock {
  padding: 0;
}

.headerBlock h1 {
  display: block !important;
  padding: calc(26px * .25);
  color: white;
  background-color: hsla(0, 0%, 0%, 0.7);
  text-shadow: none;
}

.headerBlockInverse {
  padding: 0;
}

.headerBlockInverse h1 {
  display: block !important;
  padding: calc(26px * .25);
  background-color: hsla(0, 0%, 100%, 0.8);
  color: black;
  text-shadow: none;
}

.coverImage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}

.coverImageGuardian {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.the-rest, .body {
  background-color: hsl(60, 17%, 96%);
  color: hsl(0, 0%, 20%);
}

.the-rest {
  margin: 26px 0;
  padding-top: calc(26px * 2);
  padding-bottom: calc(26px * 3);
}

.the-rest h1, .the-rest h2, .the-rest h3 {
  margin: calc(26px * 2) 0 26px;
  padding: calc(26px * .5);
  font-family: 'AvenirNext-Regular';
}

.the-rest h3 {
  font-weight: 300;
  text-align: center;
}

.body {
  position: relative;
  z-index: 10;
  padding: 26px;
  width: 100vw;
  font-family: "Cochin", serif;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.body p {
  margin-bottom: 26px;
}

.body img, .body video, .body iframe, .body pre {
  position: relative;
  max-width: calc(100vw - 26px) !important;
  height: auto !important;
  margin: 26px 0;
  border: 0;
}

.body img:not(.img-portrait):not(.img-small), .body video, .body iframe, .body pre {
  width: 100vw;
  max-width: 100vw !important;
  width: 100vw !important;
  left: -26px;
  overflow: scroll;
  border-bottom: 1px solid hsl(0, 0%, 93%);
}

.body img.img-portrait, .body img.img-small {
  display: block;
  margin: 28px auto;
}

.body blockquote {
  margin: 0 0 26px;
  font-style: italic;
  background-color: white;
  left: -26px;
  width: 100vw;
  padding: 20px;
  display: block;
  position: relative;
}

.body figcaption {
  position: relative;
  margin: -36px -28px 0;
  padding: 14px 28px;
  border-bottom: 1px solid hsl(0, 0%, 93%);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: hsl(0, 0%, 67%);
  background-color: white;
  position: relative;
  top: -3px;
}

.body a.unused, .body a.unused:active, .body a.unused:visited {
  color: inherit !important;
  text-decoration: none;
  background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 19px, hsla(60, 100%, 39%, 0.3) 19px, hsla(60, 100%, 39%, 0.3) 24px);
  /*display: inline-block;*/
  /*padding-bottom: 0;*/
}

/*line-height: .5;*/

.body a.unused img, .body a.unused:active img, .body a.unused:visited img {
  /* hide link gradient */
  margin-bottom: -6px;
}

.body figure {
  padding: 0;
  margin: 0 0 calc(26px * 1.5);
}

.body iframe {

}

.body pre {
  font-size: 14px;
  line-height: 1.4;
  overflow: scroll;
  color: hsl(0, 0%, 20%);
  padding: calc(26px * .5);
}

.body div:not(:first-of-type) > p:not(.short-para):first-of-type {
  margin-top: calc(26px * 3)
}

article {
  margin-bottom: calc(26px * 6);
}

article > div:not(:last-of-type) p:last-of-type {
  margin-bottom: calc(26px * 6);
}

div > p:not(.short-para):first-of-type:first-letter {
  font-size: 6rem;
  line-height: .33;
  float: left;
  display: block;
  margin: 28px 6px 12px 0;
  font-family: Avenir;
  font-weight: 700;
}

div > p:not(.short-para):first-of-type.firstPara {
  border-top: 0;
  padding-top: 0;
}

.short-para {

}

.bodyFontSerif1 .body {
  font-family: "Cochin", serif;
  font-size: 22px;
}

.bodyFontSans1 .body {
  font-family: "Gill Sans", sans-serif;
}

.bodyFontSerif1 .body {
  font-family: "Cochin", serif;
  font-size: 22px;
}

.bodyFontSerif2 .body {
  font-family: "Hoefler Text", serif;
}

.bodyFontSans2 .body {
  font-family: "Gill Sans", serif;
}

.itemArticle .body a, .itemArticle .body a:active, .itemArticle .body a:visited {
  text-decoration: none;
}

.itemArticle.red1 div > p:not(.short-para):first-of-type:before {
  background-color: hsl(355, 56%, 63%);
}

.itemArticle.red1 div > p:not(.short-para):first-of-type:first-letter {
  color: hsl(355, 56%, 63%);
}

.itemArticle.red1 .body a, .itemArticle.red1 .body a:active, .itemArticle.red1 .body a:visited {
  color: rgb(128, 65, 70);
}

.itemArticle.red2 div > p:not(.short-para):first-of-type:before {
  background-color: hsl(341, 56%, 49%);
}

.itemArticle.red2 div > p:not(.short-para):first-of-type:first-letter {
  color: hsl(341, 56%, 49%);
}

.itemArticle.red2 .body a, .itemArticle.red2 .body a:active, .itemArticle.red2 .body a:visited {
  color: rgb(117, 33, 59);
}

.itemArticle.orange1 div > p:not(.):first-of-type:before {
  background-color: hsl(23, 100%, 60%);
}

.itemArticle.orange1 div > p:not(.):first-of-type:first-letter {
  color: hsl(23, 100%, 60%);
}

.itemArticle.orange1 .body a, .itemArticle.orange1 .body a:active, .itemArticle.orange1 .body a:visited {
  color: rgb(153, 77, 31);
}

.itemArticle.orange2 div > p:not(.short-para):first-of-type:before {
  background-color: hsl(33, 93%, 54%);
}

.itemArticle.orange2 div > p:not(.short-para):first-of-type:first-letter {
  color: hsl(33, 93%, 54%);
}

.itemArticle.orange2 .body a, .itemArticle.orange2 .body a:active, .itemArticle.orange2 .body a:visited {
  color: rgb(148, 89, 17);
}

.itemArticle.yellow1 div > p:not(.short-para):first-of-type:before {
  background-color: hsl(49, 100%, 50%);
}

.itemArticle.yellow1 div > p:not(.short-para):first-of-type:first-letter {
  color: hsl(49, 100%, 50%);
}

.itemArticle.yellow1 .body a, .itemArticle.yellow1 .body a:active, .itemArticle.yellow1 .body a:visited {
  color: rgb(153, 125, 0);
}

.itemArticle.yellow2 div > p:not(.short-para):first-of-type:before {
  background-color: hsl(65, 90%, 64%);
}

.itemArticle.yellow2 div > p:not(.short-para):first-of-type:first-letter {
  color: hsl(65, 90%, 64%);
}

.itemArticle.yellow2 .body a, .itemArticle.yellow2 .body a:active, .itemArticle.yellow2 .body a:visited {
  color: rgb(139, 148, 49);
}

.itemArticle.green1 div > p:not(.short-para):first-of-type:before {
  background-color: hsl(167, 80%, 55%);
}

.itemArticle.green1 div > p:not(.short-para):first-of-type:first-letter {
  color: hsl(167, 80%, 55%);
}

.itemArticle.green1 .body a, .itemArticle.green1 .body a:active, .itemArticle.green1 .body a:visited {
  color: rgb(29, 139, 115);
}

.itemArticle.blue1 div > p:not(.short-para):first-of-type:before {
  background-color: hsl(226, 68%, 57%);
}

.itemArticle.blue1 div > p:not(.short-para):first-of-type:first-letter {
  color: hsl(226, 68%, 57%);
}

.itemArticle.blue1 .body a, .itemArticle.blue1 .body a:active, .itemArticle.blue1 .body a:visited {
  color: rgb(43, 64, 132);
}

.itemArticle.blue2 div > p:not(.short-para):first-of-type:before {
  background-color: hsl(198, 90%, 44%);
}

.itemArticle.blue2 div > p:not(.short-para):first-of-type:first-letter {
  color: hsl(198, 90%, 44%);
}

.itemArticle.blue2 .body a, .itemArticle.blue2 .body a:active, .itemArticle.blue2 .body a:visited {
  color: rgb(7, 92, 128);
}

.itemArticle.purple1 div > p:not(.short-para):first-of-type:before {
  background-color: hsl(298, 32%, 56%);
}

.itemArticle.purple1 div > p:not(.short-para):first-of-type:first-letter {
  color: hsl(298, 32%, 56%);
}

.itemArticle.purple1 .body a, .itemArticle.purple1 .body a:active, .itemArticle.purple1 .body a:visited {
  color: rgb(106, 64, 107);
}

.itemArticle.brown1 div > p:not(.short-para):first-of-type:before {
  background-color: hsl(9, 61%, 71%);
}

.itemArticle.brown1 div > p:not(.short-para):first-of-type:first-letter {
  color: hsl(9, 61%, 71%);
}

.itemArticle.brown1 .body a, .itemArticle.brown1 .body a:active, .itemArticle.brown1 .body a:visited {
  color: rgb(136, 89, 82);
}

.itemArticle .feedflare {
  display: none;
}
