<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.801044191408-empgb5stl1s3fcqs8jn8loaq7ic20if5</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>24</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>org-appextension-feature-password-management</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Not sure yet why this is needed...</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Not sure yet why this is needed...</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>IBMPlexMono-Bold.ttf</string>
		<string>IBMPlexMono-BoldItalic.ttf</string>
		<string>IBMPlexMono-Italic.ttf</string>
		<string>IBMPlexMono-Light.ttf</string>
		<string>IBMPlexMono-LightItalic.ttf</string>
		<string>IBMPlexMono-Regular.ttf</string>
		<string>IBMPlexSans-Bold.ttf</string>
		<string>IBMPlexSans-BoldItalic.ttf</string>
		<string>IBMPlexSans-Italic.ttf</string>
		<string>IBMPlexSans-Light.ttf</string>
		<string>IBMPlexSans-LightItalic.ttf</string>
		<string>IBMPlexSans-Regular.ttf</string>
		<string>IBMPlexSerif-Bold.ttf</string>
		<string>IBMPlexSerif-BoldItalic.ttf</string>
		<string>IBMPlexSerif-Italic.ttf</string>
		<string>IBMPlexSerif-Light.ttf</string>
		<string>IBMPlexSerif-LightItalic.ttf</string>
		<string>IBMPlexSerif-Regular.ttf</string>
		<string>PlayfairDisplay-Black.ttf</string>
		<string>PlayfairDisplay-BlackItalic.ttf</string>
		<string>PlayfairDisplay-Italic.ttf</string>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>LibreBaskerville-Bold.ttf</string>
		<string>LibreBaskerville-Italic.ttf</string>
		<string>LibreBaskerville-Regular.ttf</string>
		<string>IBMPlexSansCondensed-Bold.ttf</string>
		<string>IBMPlexSansCondensed-BoldItalic.ttf</string>
		<string>IBMPlexSansCondensed-ExtraLight.ttf</string>
		<string>IBMPlexSansCondensed-ExtraLightItalic.ttf</string>
		<string>IBMPlexSansCondensed-Light.ttf</string>
		<string>IBMPlexSansCondensed-Regular.ttf</string>
		<string>IBMPlexSerif-Thin.ttf</string>
		<string>IBMPlexSerif-ThinItalic.ttf</string>
		<string>PlayfairDisplaySC-Bold.ttf</string>
		<string>PlayfairDisplaySC-BoldItalic.ttf</string>
		<string>PlayfairDisplay-Bold.ttf</string>
		<string>PlayfairDisplay-BoldItalic.ttf</string>
		<string>PTSerif-Bold.ttf</string>
		<string>PTSerif-BoldItalic.ttf</string>
		<string>PTSerif-Italic.ttf</string>
		<string>PTSerif-Regular.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
