---
layout: layouts/beta.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="hero">
  <div class="headings">
    <h1>Thank you for signing up for the beta</h1>
    <p>We’ll be in touch shortly with more information.</h2>  
  </div>
</div>
