---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="hero">
  <div class="headings">
    <h1>Reams.</h1>
    <h2 class='logo2'>RSS, 20s style.</h2>
    <h2 class="logo1">An app for iPhone and iPad, now in beta.</h2>  
  </div>
  <div class="aspect-ratio-box">
    <iframe src="https://player.vimeo.com/video/424045027" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </div>
  <p><strong>Reams is a new approach to reading on the web, conceived from the ground up to help you find and read more about things you&nbsp;love. </strong>With AI-driven layouts, delightful interactions and powerful features, Reams focuses on the immersive pleasures of text and image.</p>
</div>
<div class="flash">
  <h1 style="border-top: 0; margin: 0; padding: 0;">Join the beta</h1>
  <p>Be the first person on your street to experience RSS, 2020 style! Enter your email and we’ll add you to the Reams beta testing program.</p>
  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:transparent; clear:left; font:1rem "IBM Plex Mono", monospace; width:100%;}
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup">
    <form action="https://Reams.us18.list-manage.com/subscribe/post?u=a8892686bce2a2a66d89d433f&amp;id=961c5a1a82" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email here" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a8892686bce2a2a66d89d433f_961c5a1a82" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Sign me up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div>
</div>
