.hero {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 5rem;

  .headings {
    text-align: left;

    @media (min-width: 50em) {
      & {
        text-align: center;
      }
    }
  }

  h1, h2 {
    display: inline;
    font-size: 3rem;
    line-height: 1.1;
    padding-right: 1rem;

    @media (min-width: 50em) {
      & {
        font-size: 4rem;
      }
    }
  }
  h2 {
    font-weight: 400;
    &:last-of-type {
      padding-right: 0;
    }
  }
  p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    max-width: none;
    color: var(--aubergine);

    strong {
      font-weight: 700;
    }
  }
  p:first-of-type {
    margin-top: 3rem;
    // font-weight: 700;
  }
}

.aspect-ratio-box {
  width: 100%;
  padding-bottom: calc((100% / 16) * 9);
  overflow: hidden;
  height: 0;
  position: relative;
  margin-top: 3rem;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.flash {
  flex-shrink: 0;

  margin-top: 6rem;
  padding-top: 6rem;
  padding-bottom: 1rem;
  background-color: var(--blue);

  margin-left: -1em;
  padding-left: 1em;
  margin-right: -1em;
  padding-right: 1em;

  @media (min-width: 50em) {
    margin-left: calc(-50vw + 25em - 1rem);
    padding-left: calc(50vw - 25em + 1rem);
    margin-right: calc(-50vw + 25em - 1rem);
    padding-right: calc(50vw - 25em + 1rem);
  }

  h1 {
    color: white;
    opacity: 1;
    margin-bottom: 0;
  }

  p { 
    margin-top: 0;
    font-size: 1.33rem;
    line-height: 2rem;
    color: var(--aubergine);
  }

  #mce-EMAIL {
    width: 100%;
  }

  #mce-EMAIL, #mc-embedded-subscribe {
    border: 0;
    font-size: 1em;
    padding: .5em;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 1rem;
  }

  #mc-embedded-subscribe {
    background-color: var(--aubergine);
    color: white;
    padding: .5em 2em;
  }
}
