* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.3;
  background-color: transparent;
  width: 100vw; }

.item {
  height: 100vh; }

.itemArticle {
  padding: 0;
  margin: 0;
  border-left: 1px solid black;
  border-right: 1px solid black; }

.cover, .body {
  position: relative;
  margin: 0;
  /*padding: $step * .5;*/
  width: 100%;
  max-width: 100%;
  overflow: hidden; }

.cover {
  min-height: 100vh;
  background-color: white;
  color: white;
  position: relative; }

.coverCover {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); }

.coverMultiply .coverImage {
  -webkit-filter: grayscale(100%); }

.coverMultiply .coverCover {
  mix-blend-mode: multiply; }

.coverBorder .coverImage, .coverBorder .coverCover {
  border: 10px solid white; }

.coverBorder .header h1 {
  margin: 0 26px; }

.feed-name {
  position: absolute;
  top: 0;
  left: 0;
  height: 41px;
  width: 100%;
  padding-top: 15px;
  text-align: center;
  font-size: 16px;
  font-family: "AvenirNext-Regular";
  font-weight: 300;
  font-variant: small-caps;
  background-color: black;
  color: white; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.header {
  position: absolute;
  /*width: 100% - $step;*/
  opacity: 0;
  transition: opacity .5s;
  background-color: transparent;
  font-variant-ligatures: none; }
  .header h1, .header h2, .header aside {
    position: relative; }
  .header h1 {
    color: white;
    margin: 0 13px;
    font-size: 39px;
    line-height: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
    .header h1 a {
      color: inherit;
      /*text-decoration: none;*/ }

.headerSmall h1 {
  font-size: 31.2px;
  line-height: 1; }

.headerSheepStealer h1 {
  letter-spacing: .5em; }

.visible .header {
  animation: .75s linear fade-in;
  opacity: 1; }

.scrolling .header {
  animation: .5s linear fade-out;
  opacity: 0; }

h2, aside {
  text-align: center; }

.headerTop {
  top: 52px; }

.headerBottom {
  bottom: 26px; }

.headerMiddle {
  top: 50%;
  transform: translateY(-50%);
  padding: 0; }

.headerBlack h1 {
  color: black;
  text-shadow: 0,0,0; }

.headerCentered {
  text-align: center;
  padding: 0 !important; }

.headerUnderlined h1 {
  border-bottom: 5px solid;
  line-height: 1.3; }

.headerCentered.headerUnderlined h1 {
  display: inline;
  border-bottom: 1px solid; }

.headerItalic h1 {
  font-style: italic; }

.headerBlock {
  padding: 0; }
  .headerBlock h1 {
    display: block !important;
    padding: 6.5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: none; }

.headerBlockInverse {
  padding: 0; }
  .headerBlockInverse h1 {
    display: block !important;
    padding: 6.5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-shadow: none; }

.coverImage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center; }

.coverImageGuardian {
  transform: scale(1.2);
  transform-origin: top; }

.the-rest, .body {
  background-color: #f7f7f3; }
  .the-rest, .the-rest a, .the-rest a:active, .the-rest a:visited, .body, .body a, .body a:active, .body a:visited {
    color: #333333; }

.the-rest {
  margin: 26px 0;
  padding-top: 52px;
  padding-bottom: 78px; }
  .the-rest h1, .the-rest h2, .the-rest h3 {
    margin: 52px 0 26px;
    padding: 13px;
    font-family: 'AvenirNext-Regular'; }
  .the-rest h3 {
    font-weight: 300;
    text-align: center; }

.body {
  position: relative;
  z-index: 10;
  padding: 26px 13px;
  width: 100vw;
  font-family: "Cochin", serif;
  hyphens: auto;
  /* gambling that it's a video */ }
  .body p {
    margin: 0;
    margin-bottom: 26px; }
  .body img, .body video, .body iframe, .body pre {
    position: relative;
    max-width: calc(100vw - 26px) !important;
    height: auto !important;
    margin: 0 0 26px;
    border: 0; }
    p .body img:last-of-type, p .body video:last-of-type, p .body iframe:last-of-type, p .body pre:last-of-type {
      margin-bottom: 0; }
  .body img:not(.img-portrait):not(.img-small), .body video, .body iframe, .body pre {
    width: 100vw;
    max-width: 100vw !important;
    width: 100vw !important;
    left: -13px;
    overflow: scroll;
    border-bottom: 1px solid #ededed; }
  .body img.img-portrait, .body img.img-small {
    display: block;
    margin: 13px auto; }
  .body iframe, .body video {
    height: 55vw !important; }
  .body blockquote {
    margin: 0 0 26px;
    font-style: italic;
    font-size: 0.9em;
    line-height: 26px;
    background-color: white;
    left: -13px;
    width: 100vw;
    padding: 26px 13px;
    display: block;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid rgba(0, 0, 0, 0.05); }
    .body blockquote > p:last-of-type {
      margin-bottom: 0; }
    .body blockquote.short-blockquote {
      background-color: transparent;
      border: none;
      font-size: 2em;
      line-height: 1em;
      padding: 1px .5em;
      text-align: center;
      margin: 78px 0;
      hyphens: none; }
  .body figcaption {
    position: relative;
    margin: -36px -28px 0;
    padding: 14px 28px;
    border-bottom: 1px solid #ededed;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    color: #ababab;
    background-color: white;
    position: relative;
    top: -3px; }
  .body a.unused, .body a.unused:active, .body a.unused:visited {
    color: inherit !important;
    /*text-decoration: none;*/
    background-image: linear-gradient(to bottom, transparent 19px, rgba(199, 199, 0, 0.3) 19px, rgba(199, 199, 0, 0.3) 24px);
    /*display: inline-block;*/
    /*padding-bottom: 0;*/
    /*line-height: .5;*/ }
    .body a.unused img, .body a.unused:active img, .body a.unused:visited img {
      /* hide link gradient */
      margin-bottom: -6px; }
  .body figure {
    padding: 0;
    margin: 0 0 39px; }
  .body pre {
    font-size: 14px;
    line-height: 1.4;
    overflow: scroll;
    color: #333333;
    padding: 13px; }
  .body div:not(:first-of-type) > p:not(.short-para):first-of-type {
    margin-top: 78px; }

article {
  margin-bottom: 156px; }

article > div:not(:last-of-type) p:last-of-type {
  margin-bottom: 156px; }

div > p:not(.short-para):first-of-type:first-letter {
  font-size: 6rem;
  line-height: .33;
  float: left;
  display: block;
  margin: 28px 6px 12px 0;
  font-family: Avenir;
  font-weight: 700; }

div > p:not(.short-para):first-of-type.firstPara {
  border-top: 0;
  padding-top: 0; }

.bodyFontSerif1 .body {
  font-family: "Cochin", serif;
  font-size: 22px; }

.bodyFontSans1 .body {
  font-family: "Gill Sans", sans-serif; }

.bodyFontSerif2 .body {
  font-family: "Iowan Old Style", serif; }

.bodyFontSans2 .body {
  font-family: "Avenir", serif; }

.itemArticle .body a, .itemArticle .body a:active, .itemArticle .body a:visited {
  /*text-decoration: none;*/ }

.feedflare {
  display: none !important; }

.itemArticle.red1 div > p:not(.short-para):first-of-type:before {
  background-color: #d56c75; }

.itemArticle.red1 div > p:not(.short-para):first-of-type:first-letter {
  color: #d56c75; }

.itemArticle.red1 .body a, .itemArticle.red1 .body a:active, .itemArticle.red1 .body a:visited {
  -webkit-text-decoration-color: #d56c75; }

.itemArticle.red1 .body blockquote.short-blockquote {
  color: #d56c75; }

.itemArticle.red2 div > p:not(.short-para):first-of-type:before {
  background-color: #c33763; }

.itemArticle.red2 div > p:not(.short-para):first-of-type:first-letter {
  color: #c33763; }

.itemArticle.red2 .body a, .itemArticle.red2 .body a:active, .itemArticle.red2 .body a:visited {
  -webkit-text-decoration-color: #c33763; }

.itemArticle.red2 .body blockquote.short-blockquote {
  color: #c33763; }

.itemArticle.orange1 div > p:not(.short-para):first-of-type:before {
  background-color: #ff8133; }

.itemArticle.orange1 div > p:not(.short-para):first-of-type:first-letter {
  color: #ff8133; }

.itemArticle.orange1 .body a, .itemArticle.orange1 .body a:active, .itemArticle.orange1 .body a:visited {
  -webkit-text-decoration-color: #ff8133; }

.itemArticle.orange1 .body blockquote.short-blockquote {
  color: #ff8133; }

.itemArticle.orange2 div > p:not(.short-para):first-of-type:before {
  background-color: #f7951d; }

.itemArticle.orange2 div > p:not(.short-para):first-of-type:first-letter {
  color: #f7951d; }

.itemArticle.orange2 .body a, .itemArticle.orange2 .body a:active, .itemArticle.orange2 .body a:visited {
  -webkit-text-decoration-color: #f7951d; }

.itemArticle.orange2 .body blockquote.short-blockquote {
  color: #f7951d; }

.itemArticle.yellow1 div > p:not(.short-para):first-of-type:before {
  background-color: #ffd000; }

.itemArticle.yellow1 div > p:not(.short-para):first-of-type:first-letter {
  color: #ffd000; }

.itemArticle.yellow1 .body a, .itemArticle.yellow1 .body a:active, .itemArticle.yellow1 .body a:visited {
  -webkit-text-decoration-color: #ffd000; }

.itemArticle.yellow1 .body blockquote.short-blockquote {
  color: #ffd000; }

.itemArticle.yellow2 div > p:not(.short-para):first-of-type:before {
  background-color: #e8f651; }

.itemArticle.yellow2 div > p:not(.short-para):first-of-type:first-letter {
  color: #e8f651; }

.itemArticle.yellow2 .body a, .itemArticle.yellow2 .body a:active, .itemArticle.yellow2 .body a:visited {
  -webkit-text-decoration-color: #e8f651; }

.itemArticle.yellow2 .body blockquote.short-blockquote {
  color: #e8f651; }

.itemArticle.green1 div > p:not(.short-para):first-of-type:before {
  background-color: #30e8c0; }

.itemArticle.green1 div > p:not(.short-para):first-of-type:first-letter {
  color: #30e8c0; }

.itemArticle.green1 .body a, .itemArticle.green1 .body a:active, .itemArticle.green1 .body a:visited {
  -webkit-text-decoration-color: #30e8c0; }

.itemArticle.green1 .body blockquote.short-blockquote {
  color: #30e8c0; }

.itemArticle.blue1 div > p:not(.short-para):first-of-type:before {
  background-color: #476adc; }

.itemArticle.blue1 div > p:not(.short-para):first-of-type:first-letter {
  color: #476adc; }

.itemArticle.blue1 .body a, .itemArticle.blue1 .body a:active, .itemArticle.blue1 .body a:visited {
  -webkit-text-decoration-color: #476adc; }

.itemArticle.blue1 .body blockquote.short-blockquote {
  color: #476adc; }

.itemArticle.blue2 div > p:not(.short-para):first-of-type:before {
  background-color: #0b99d5; }

.itemArticle.blue2 div > p:not(.short-para):first-of-type:first-letter {
  color: #0b99d5; }

.itemArticle.blue2 .body a, .itemArticle.blue2 .body a:active, .itemArticle.blue2 .body a:visited {
  -webkit-text-decoration-color: #0b99d5; }

.itemArticle.blue2 .body blockquote.short-blockquote {
  color: #0b99d5; }

.itemArticle.purple1 div > p:not(.short-para):first-of-type:before {
  background-color: #b06bb3; }

.itemArticle.purple1 div > p:not(.short-para):first-of-type:first-letter {
  color: #b06bb3; }

.itemArticle.purple1 .body a, .itemArticle.purple1 .body a:active, .itemArticle.purple1 .body a:visited {
  -webkit-text-decoration-color: #b06bb3; }

.itemArticle.purple1 .body blockquote.short-blockquote {
  color: #b06bb3; }

.itemArticle.purple2 div > p:not(.short-para):first-of-type:before {
  background-color: #ef61c0; }

.itemArticle.purple2 div > p:not(.short-para):first-of-type:first-letter {
  color: #ef61c0; }

.itemArticle.purple2 .body a, .itemArticle.purple2 .body a:active, .itemArticle.purple2 .body a:visited {
  -webkit-text-decoration-color: #ef61c0; }

.itemArticle.purple2 .body blockquote.short-blockquote {
  color: #ef61c0; }

.itemArticle.brown1 div > p:not(.short-para):first-of-type:before {
  background-color: #e29588; }

.itemArticle.brown1 div > p:not(.short-para):first-of-type:first-letter {
  color: #e29588; }

.itemArticle.brown1 .body a, .itemArticle.brown1 .body a:active, .itemArticle.brown1 .body a:visited {
  -webkit-text-decoration-color: #e29588; }

.itemArticle.brown1 .body blockquote.short-blockquote {
  color: #e29588; }

/*@each $animal, $color in (puma, sea-slug), (black, blue) {
  .$(animal)-icon {
    background-image: url('/images/$(animal).png');
    border: 2px solid $color;
  }
}
*/
/*$icon;

@each $icon in foo, bar, baz {
  .icon-$(icon) {
    background: url('icons/$(icon).png');
  }
}
*/
/*.itemArticle {
  .body {
    a, a:active, a:visited {
      text-decoration: none;
    }
  }
  &.red1 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $red1;
      }

      &:first-letter {
        color: $red1;
      }
    }

    .body {
      a, a:active, a:visited {
        border-bottom: 1px solid $red1;
      }

      blockquote.short-blockquote {
        color: $red1;
      }
    }
  }
  &.red2 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $red2;
      }

      &:first-letter {
        color: $red2;
      }
    }

    .body {
      a, a:active, a:visited {
        border-bottom: 1px solid $red2;
      }

      blockquote.short-blockquote {
        color: $red2;
      }
    }
  }
  &.orange1 {
    div > p:not(.):first-of-type {
      &:before {
        background-color: $orange1;
      }

      &:first-letter {
        color: $orange1;
      }
    }

    .body {
      a, a:active, a:visited {
        border-bottom: 1px solid $orange1;
      }

      blockquote.short-blockquote {
        color: $orange1;
      }
    }
  }
  &.orange2 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $orange2;
      }

      &:first-letter {
        color: $orange2;
      }
    }

    .body {
      a, a:active, a:visited {
        border-bottom: 1px solid $orange2;
      }

      blockquote.short-blockquote {
        color: $orange2;
      }
    }
  }
  &.yellow1 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $yellow1;
      }

      &:first-letter {
        color: $yellow1;
      }
    }

    .body {
      a, a:active, a:visited {
        border-bottom: 1px solid $yellow1;
      }

      blockquote.short-blockquote {
        color: $yellow1;
      }
    }
  }
  &.yellow2 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $yellow2;
      }

      &:first-letter {
        color: $yellow2;
      }
    }

    .body {
      a, a:active, a:visited {
        border-bottom: 1px solid $yellow2;
      }

      blockquote.short-blockquote {
        color: $yellow2;
      }
    }
  }
  &.green1 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $green1;
      }

      &:first-letter {
        color: $green1;
      }
    }

    .body {
      a, a:active, a:visited {
        border-bottom: 1px solid $green1;
      }

      blockquote.short-blockquote {
        color: $green1;
      }
    }
  }
  &.blue1 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $blue1;
      }

      &:first-letter {
        color: $blue1;
      }
    }

    .body {
      a, a:active, a:visited {
        border-bottom: 1px solid $blue1;
      }

      blockquote.short-blockquote {
        color: $blue1;
      }
    }
  }
  &.blue2 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $blue2;
      }

      &:first-letter {
        color: $blue2;
      }
    }

    .body {
      a, a:active, a:visited {
        border-bottom: 1px solid $blue2;
      }

      blockquote.short-blockquote {
        color: $blue2;
      }
    }
  }
  &.purple1 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $purple1;
      }

      &:first-letter {
        color: $purple1;
      }
    }

    .body {
      a, a:active, a:visited {
        border-bottom: 1px solid $purple1;
      }

      blockquote.short-blockquote {
        color: $purple1;
      }
    }
  }
  &.brown1 {
    div > p:not(.short-para):first-of-type {
      &:before {
        background-color: $brown1;
      }

      &:first-letter {
        color: $brown1;
      }
    }

    .body {
      a, a:active, a:visited {
        border-bottom: 1px solid $brown1;
      }

      blockquote.short-blockquote {
        color: $brown1;
      }
    }
  }

  .feedflare {
    display: none;
  }
}
*/
