* {
  box-sizing: border-box; }

html {
  font-size: calc(7vw);
  transition: font-size 0.2s; }
  @media (min-width: 600px) {
    html {
      font-size: calc(4vw); } }
  html.font-size-1 {
    font-size: calc(6vw); }
    @media (min-width: 600px) {
      html.font-size-1 {
        font-size: calc(3.5vw); } }
  html.font-size-2 {
    font-size: calc(7vw); }
    @media (min-width: 600px) {
      html.font-size-2 {
        font-size: calc(4vw); } }
  html.font-size-3 {
    font-size: calc(8vw); }
    @media (min-width: 600px) {
      html.font-size-3 {
        font-size: calc(4.5vw); } }
  html.font-size-4 {
    font-size: calc(9vw); }
    @media (min-width: 600px) {
      html.font-size-4 {
        font-size: calc(5vw); } }
  html.font-size-5 {
    font-size: calc(10vw); }
    @media (min-width: 600px) {
      html.font-size-5 {
        font-size: calc(5.5vw); } }

body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  width: 100vw;
  background-color: #f7f7f3;
  transition: background-color, color 0.2s; }
  body, body a, body a:active, body a:visited {
    color: #404040; }
  .dark-background body {
    background-color: #191924; }
    .dark-background body, .dark-background body a, .dark-background body a:active, .dark-background body a:visited {
      color: #e6e6e6; }

.item {
  height: 100vh; }

.itemArticle {
  padding: 0;
  margin: 0; }

.cover, .body {
  position: relative;
  margin: 0;
  /*padding: $step * .5;*/
  width: 100%;
  max-width: 100%; }

.itemArticle {
  font-size: calc(1rem / 1.7);
  line-height: 1rem;
  margin: 0; }
  .itemArticle h1, .itemArticle h2, .itemArticle h3 {
    margin: 2rem 0 1rem;
    padding: 0;
    font-family: 'AvenirNext-Regular'; }
  .itemArticle h3 {
    font-weight: 300;
    text-align: center; }

.itemArticle {
  position: relative;
  z-index: 10;
  padding: 2rem 0.5rem;
  width: 100vw;
  max-width: 20rem;
  margin: 0 auto;
  font-family: "Cochin", serif;
  -webkit-hyphens: auto;
  -webkit-text-size-adjust: none;
  /* gambling that it's a video */ }
  .itemArticle p {
    margin: 0;
    margin-bottom: 1rem; }
  .itemArticle figure, .itemArticle img, .itemArticle video, .itemArticle iframe, .itemArticle pre {
    position: relative !important;
    max-width: calc(100vw - 1rem) !important;
    height: auto !important;
    margin: 0 0 1rem;
    border: 0; }
    p .itemArticle figure:last-of-type, p .itemArticle img:last-of-type, p .itemArticle video:last-of-type, p .itemArticle iframe:last-of-type, p .itemArticle pre:last-of-type {
      margin-bottom: 0; }
  .itemArticle figure, .itemArticle img, .itemArticle video, .itemArticle iframe, .itemArticle pre {
    width: 100vw;
    max-width: 100vw !important;
    width: 100vw !important;
    left: -0.5rem;
    overflow: scroll;
    background-color: white;
    border-bottom: 1px solid #ededed; }
    @media (min-width: 600px) {
      .itemArticle figure, .itemArticle img, .itemArticle video, .itemArticle iframe, .itemArticle pre {
        left: calc(50% - 50vw); } }
  .itemArticle img:not(.img-portrait):not(.img-small) {
    width: 100vw !important; }
  .itemArticle img.img-portrait, .itemArticle img.img-small {
    width: auto !important;
    margin: 0.5rem;
    max-width: calc(100vw - 1rem) !important; }
  .itemArticle figure img, .itemArticle figure iframe {
    margin: 0;
    left: 0; }
  .itemArticle > figure:first-child,
  .itemArticle > img:first-child,
  .itemArticle > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > img:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > img:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child {
    position: relative;
    top: -2rem;
    margin-top: 0;
    margin-bottom: 0rem; }
  .itemArticle > img.img-portrait:first-child,
  .itemArticle > *:not(figure):first-child > img.img-portrait:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child {
    top: -0.5rem;
    margin-bottom: 0; }
  .itemArticle > *:empty + figure:first-child,
  .itemArticle > *:empty + img:first-child,
  .itemArticle > *:empty:first-child + *:first-of-type + figure:first-child,
  .itemArticle > *:empty:first-child + *:first-of-type + img:first-child,
  .itemArticle > *:first-child > *:empty + figure:first-child,
  .itemArticle > *:first-child > *:empty + img:first-child,
  .itemArticle > *:first-child > *:first-child > *:empty + figure:first-child,
  .itemArticle > *:first-child > *:first-child > *:empty + img:first-child,
  .itemArticle > *:first-child > *:first-child > *:first-child > *:empty + figure:first-child,
  .itemArticle > *:first-child > *:first-child > *:first-child > *:empty + img:first-child {
    position: relative;
    top: -2rem;
    margin-top: 0;
    margin-bottom: 0; }
  .itemArticle iframe, .itemArticle video {
    height: 55vw !important; }
  .itemArticle blockquote, .itemArticle .pullquote {
    margin: 0 0 1rem;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1rem;
    background-color: white;
    left: -0.5rem;
    width: 100vw;
    padding: 1rem 0.5rem;
    display: block;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid rgba(0, 0, 0, 0.05);
    -webkit-hyphens: none; }
    .itemArticle blockquote > p:last-of-type, .itemArticle .pullquote > p:last-of-type {
      margin-bottom: 0; }
  .itemArticle blockquote.short-blockquote, .itemArticle .pullquote {
    background-color: transparent;
    border: none;
    font-size: 2em;
    line-height: 1.2em;
    padding: 1px .5em;
    text-align: center;
    margin: 3rem 0;
    -webkit-hyphens: auto; }
    @media (min-width: 600px) {
      .itemArticle blockquote.short-blockquote, .itemArticle .pullquote {
        margin: 3rem calc(50% - 50vw); } }
  .itemArticle figcaption {
    position: relative;
    padding: .5rem;
    border-bottom: 1px solid #ededed;
    font-size: 0.5rem;
    font-weight: 300;
    line-height: 0.66rem;
    color: #ababab;
    background-color: white;
    position: relative; }
  @media (min-width: 600px) {
    .itemArticle figcaption, .itemArticle blockquote {
      margin: 0 calc(50% - 50vw) 1rem;
      left: 0;
      padding: 1rem calc(50vw - 50%); } }
  @media (min-width: 600px) {
    .itemArticle blockquote {
      margin-bottom: 1rem; } }
  .itemArticle a.unused, .itemArticle a.unused:active, .itemArticle a.unused:visited {
    color: inherit !important;
    /*text-decoration: none;*/
    background-image: linear-gradient(to bottom, transparent 19px, rgba(199, 199, 0, 0.3) 19px, rgba(199, 199, 0, 0.3) 24px);
    /*display: inline-block;*/
    /*padding-bottom: 0;*/
    /*line-height: .5;*/ }
    .itemArticle a.unused img, .itemArticle a.unused:active img, .itemArticle a.unused:visited img {
      /* hide link gradient */
      margin-bottom: -6px; }
  .itemArticle figure {
    padding: 0;
    margin: 1rem 0; }
  .itemArticle iframe {
    max-width: 100%; }
  .itemArticle pre {
    font-size: 14px;
    line-height: 1.4;
    overflow: scroll;
    color: #333333;
    padding: 14px; }
  .itemArticle > div:not(:first-of-type):before {
    content: '';
    height: 2px;
    display: block;
    margin: 0 4rem;
    transform: rotateZ(-30deg); }
  .itemArticle > div:not(:first-of-type) > p:first-of-type {
    margin-top: 112px; }
  .itemArticle ul {
    list-style: none;
    padding-left: 0; }
  .itemArticle li {
    padding: 14px 0; }
  .itemArticle header {
    font-weight: 500; }
  .itemArticle figure input {
    display: none; }
  .dark-background .itemArticle img:not(.img-portrait):not(.img-small), .dark-background .itemArticle video, .dark-background .itemArticle iframe, .dark-background .itemArticle pre {
    border-bottom: 1px solid #121212; }
  .dark-background .itemArticle blockquote {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .dark-background .itemArticle blockquote, .dark-background .itemArticle figcaption {
    border-bottom: 3px solid rgba(0, 0, 0, 0.05); }
  .dark-background .itemArticle figcaption {
    color: #c4c4c4; }
  .dark-background .itemArticle blockquote, .dark-background .itemArticle figcaption {
    background-color: rgba(0, 0, 0, 0.2); }
  .dark-background .itemArticle pre {
    color: #cccccc; }

article {
  margin-bottom: 168px; }

article > div:not(:last-of-type) p:last-child,
article > div:not(:last-of-type) figure:last-child {
  margin-bottom: 112px; }

.itemArticle > p:not(.short-para):first-of-type,
.itemArticle > div:first-of-type > p:not(.short-para):first-of-type,
.itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type {
  margin-top: 2rem; }
  .itemArticle > p:not(.short-para):first-of-type:first-letter,
  .itemArticle > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
  .itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
    font-size: 4rem;
    line-height: .6;
    display: block;
    margin: .1em 0 0 0; }
  .dropCapIsDrop .itemArticle > p:not(.short-para):first-of-type, .dropCapIsDrop
  .itemArticle > div:first-of-type > p:not(.short-para):first-of-type, .dropCapIsDrop
  .itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type {
    margin-top: 0; }
  .dropCapSize5 .itemArticle > p:not(.short-para):first-of-type:first-letter, .dropCapSize5
  .itemArticle > div:first-of-type > p:not(.short-para):first-of-type:first-letter, .dropCapSize5
  .itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
    font-size: 5rem; }
  .dropCapSize6 .itemArticle > p:not(.short-para):first-of-type:first-letter, .dropCapSize6
  .itemArticle > div:first-of-type > p:not(.short-para):first-of-type:first-letter, .dropCapSize6
  .itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
    font-size: 6rem; }
  .dropCapSize7 .itemArticle > p:not(.short-para):first-of-type:first-letter, .dropCapSize7
  .itemArticle > div:first-of-type > p:not(.short-para):first-of-type:first-letter, .dropCapSize7
  .itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
    font-size: 7rem; }
  .dropCapIsDrop .itemArticle > p:not(.short-para):first-of-type:first-letter, .dropCapIsDrop
  .itemArticle > div:first-of-type > p:not(.short-para):first-of-type:first-letter, .dropCapIsDrop
  .itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
    float: left; }
  .dropCapIsBold .itemArticle > p:not(.short-para):first-of-type:first-letter, .dropCapIsBold
  .itemArticle > div:first-of-type > p:not(.short-para):first-of-type:first-letter, .dropCapIsBold
  .itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
    font-weight: 700; }
  .itemArticle > p:not(.short-para):first-of-type.firstPara,
  .itemArticle > div:first-of-type > p:not(.short-para):first-of-type.firstPara,
  .itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type.firstPara {
    border-top: 0;
    padding-top: 0; }

.single-char-para {
  text-align: center;
  margin: 2rem; }

.bodyFontSerif1 {
  font-family: "LibreBaskerville-Regular", serif;
  font-size: calc(1rem / 1.9); }
  .bodyFontSerif1 h1, .bodyFontSerif1 h2, .bodyFontSerif1 h3, .bodyFontSerif1 figcaption {
    font-family: "Gill Sans"; }

.bodyFontSans1 {
  font-family: "Gill Sans", sans-serif; }
  .bodyFontSans1 h1, .bodyFontSans1 h2, .bodyFontSans1 h3, .bodyFontSans1 figcaption {
    font-family: "LibreBaskerville-Regular"; }

.bodyFontSerif2 {
  font-family: "Iowan Old Style", serif; }
  .bodyFontSerif2 h1, .bodyFontSerif2 h2, .bodyFontSerif2 h3, .bodyFontSerif2 figcaption {
    font-family: "Gill Sans"; }

.bodyFontSans2 {
  font-family: "Avenir", serif; }

.headerFontSans1 h1, .headerFontSans1 h2, .headerFontSans1 h3 {
  font-family: "AvenirNextCondensed-Bold"; }

.headerFontSans1 figcaption {
  font-family: "AvenirNextCondensed-Medium"; }

.headerFontSans2 h1, .headerFontSans2 h2, .headerFontSans2 h3 {
  font-family: "Montserrat-Bold"; }

.headerFontSans2 figcaption {
  font-family: "Montserrat-Light"; }

.headerFontSans3 h1, .headerFontSans3 h2, .headerFontSans3 h3 {
  font-family: "IBMPlexSans-Bold"; }

.headerFontSans3 figcaption {
  font-family: "IBMPlexSans-Light"; }

.headerFontSerif1 h1, .headerFontSerif1 h2, .headerFontSerif1 h3 {
  font-family: "IBMPlexSerif-Bold"; }

.headerFontSerif1 figcaption {
  font-family: "IBMPlexSerif-Light"; }

.headerFontSerif2 h1, .headerFontSerif2 h2, .headerFontSerif2 h3 {
  font-family: "Arvo-Bold"; }

.headerFontSerif2 figcaption {
  font-family: "Arvo"; }

.headerFontSerif3 h1, .headerFontSerif3 h2, .headerFontSerif3 h3 {
  font-family: "PlayfairDisplay-Black"; }

.headerFontSerif3 figcaption {
  font-family: "PlayfairDisplay-Regular"; }

.itemArticle a, .itemArticle a:active, .itemArticle a:visited {
  /*text-decoration: none;*/ }

.feedflare {
  display: none !important; }

.itemArticle.red1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #d56c75; }

.itemArticle.red1 a, .itemArticle.red1 a:active, .itemArticle.red1 a:visited {
  -webkit-text-decoration-color: #d56c75; }

.itemArticle.red1 blockquote.short-blockquote, .itemArticle.red1 .pullquote {
  color: #d56c75; }

.itemArticle.red1 *:not(:first-of-type) div:before,
.itemArticle.red1 * div:not(:first-of-type):before,
.itemArticle.red1 div:not(:first-of-type):before {
  background-color: #d56c75; }

.itemArticle.red2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #c33763; }

.itemArticle.red2 a, .itemArticle.red2 a:active, .itemArticle.red2 a:visited {
  -webkit-text-decoration-color: #c33763; }

.itemArticle.red2 blockquote.short-blockquote, .itemArticle.red2 .pullquote {
  color: #c33763; }

.itemArticle.red2 *:not(:first-of-type) div:before,
.itemArticle.red2 * div:not(:first-of-type):before,
.itemArticle.red2 div:not(:first-of-type):before {
  background-color: #c33763; }

.itemArticle.orange1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.orange1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.orange1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #ff8133; }

.itemArticle.orange1 a, .itemArticle.orange1 a:active, .itemArticle.orange1 a:visited {
  -webkit-text-decoration-color: #ff8133; }

.itemArticle.orange1 blockquote.short-blockquote, .itemArticle.orange1 .pullquote {
  color: #ff8133; }

.itemArticle.orange1 *:not(:first-of-type) div:before,
.itemArticle.orange1 * div:not(:first-of-type):before,
.itemArticle.orange1 div:not(:first-of-type):before {
  background-color: #ff8133; }

.itemArticle.orange2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.orange2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.orange2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #f7951d; }

.itemArticle.orange2 a, .itemArticle.orange2 a:active, .itemArticle.orange2 a:visited {
  -webkit-text-decoration-color: #f7951d; }

.itemArticle.orange2 blockquote.short-blockquote, .itemArticle.orange2 .pullquote {
  color: #f7951d; }

.itemArticle.orange2 *:not(:first-of-type) div:before,
.itemArticle.orange2 * div:not(:first-of-type):before,
.itemArticle.orange2 div:not(:first-of-type):before {
  background-color: #f7951d; }

.itemArticle.yellow1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.yellow1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.yellow1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #ffd000; }

.itemArticle.yellow1 a, .itemArticle.yellow1 a:active, .itemArticle.yellow1 a:visited {
  -webkit-text-decoration-color: #ffd000; }

.itemArticle.yellow1 blockquote.short-blockquote, .itemArticle.yellow1 .pullquote {
  color: #ffd000; }

.itemArticle.yellow1 *:not(:first-of-type) div:before,
.itemArticle.yellow1 * div:not(:first-of-type):before,
.itemArticle.yellow1 div:not(:first-of-type):before {
  background-color: #ffd000; }

.itemArticle.yellow2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.yellow2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.yellow2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #d9e363; }

.itemArticle.yellow2 a, .itemArticle.yellow2 a:active, .itemArticle.yellow2 a:visited {
  -webkit-text-decoration-color: #d9e363; }

.itemArticle.yellow2 blockquote.short-blockquote, .itemArticle.yellow2 .pullquote {
  color: #d9e363; }

.itemArticle.yellow2 *:not(:first-of-type) div:before,
.itemArticle.yellow2 * div:not(:first-of-type):before,
.itemArticle.yellow2 div:not(:first-of-type):before {
  background-color: #d9e363; }

.itemArticle.green1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #30e8c0; }

.itemArticle.green1 a, .itemArticle.green1 a:active, .itemArticle.green1 a:visited {
  -webkit-text-decoration-color: #30e8c0; }

.itemArticle.green1 blockquote.short-blockquote, .itemArticle.green1 .pullquote {
  color: #30e8c0; }

.itemArticle.green1 *:not(:first-of-type) div:before,
.itemArticle.green1 * div:not(:first-of-type):before,
.itemArticle.green1 div:not(:first-of-type):before {
  background-color: #30e8c0; }

.itemArticle.blue1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.blue1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.blue1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #476adc; }

.itemArticle.blue1 a, .itemArticle.blue1 a:active, .itemArticle.blue1 a:visited {
  -webkit-text-decoration-color: #476adc; }

.itemArticle.blue1 blockquote.short-blockquote, .itemArticle.blue1 .pullquote {
  color: #476adc; }

.itemArticle.blue1 *:not(:first-of-type) div:before,
.itemArticle.blue1 * div:not(:first-of-type):before,
.itemArticle.blue1 div:not(:first-of-type):before {
  background-color: #476adc; }

.itemArticle.blue2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.blue2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.blue2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #0b99d5; }

.itemArticle.blue2 a, .itemArticle.blue2 a:active, .itemArticle.blue2 a:visited {
  -webkit-text-decoration-color: #0b99d5; }

.itemArticle.blue2 blockquote.short-blockquote, .itemArticle.blue2 .pullquote {
  color: #0b99d5; }

.itemArticle.blue2 *:not(:first-of-type) div:before,
.itemArticle.blue2 * div:not(:first-of-type):before,
.itemArticle.blue2 div:not(:first-of-type):before {
  background-color: #0b99d5; }

.itemArticle.purple1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.purple1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.purple1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #b06bb3; }

.itemArticle.purple1 a, .itemArticle.purple1 a:active, .itemArticle.purple1 a:visited {
  -webkit-text-decoration-color: #b06bb3; }

.itemArticle.purple1 blockquote.short-blockquote, .itemArticle.purple1 .pullquote {
  color: #b06bb3; }

.itemArticle.purple1 *:not(:first-of-type) div:before,
.itemArticle.purple1 * div:not(:first-of-type):before,
.itemArticle.purple1 div:not(:first-of-type):before {
  background-color: #b06bb3; }

.itemArticle.purple2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.purple2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.purple2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #ef61c0; }

.itemArticle.purple2 a, .itemArticle.purple2 a:active, .itemArticle.purple2 a:visited {
  -webkit-text-decoration-color: #ef61c0; }

.itemArticle.purple2 blockquote.short-blockquote, .itemArticle.purple2 .pullquote {
  color: #ef61c0; }

.itemArticle.purple2 *:not(:first-of-type) div:before,
.itemArticle.purple2 * div:not(:first-of-type):before,
.itemArticle.purple2 div:not(:first-of-type):before {
  background-color: #ef61c0; }

.itemArticle.brown1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.brown1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.brown1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #e29588; }

.itemArticle.brown1 a, .itemArticle.brown1 a:active, .itemArticle.brown1 a:visited {
  -webkit-text-decoration-color: #e29588; }

.itemArticle.brown1 blockquote.short-blockquote, .itemArticle.brown1 .pullquote {
  color: #e29588; }

.itemArticle.brown1 *:not(:first-of-type) div:before,
.itemArticle.brown1 * div:not(:first-of-type):before,
.itemArticle.brown1 div:not(:first-of-type):before {
  background-color: #e29588; }

body .itemArticle.dropCapIsMonochrome > p:not(.short-para):first-of-type:first-letter {
  color: inherit; }
