* {
  box-sizing: border-box; }

html {
  font-size: calc(7vw);
  transition: font-size 0.2s; }
  @media (min-width: 600px) {
    html {
      font-size: calc(4vw); } }
  html.font-size-1 {
    font-size: calc(5vw); }
    @media (min-width: 600px) {
      html.font-size-1 {
        font-size: calc(3vw); } }
  html.font-size-2 {
    font-size: calc(6vw); }
    @media (min-width: 600px) {
      html.font-size-2 {
        font-size: calc(3.5vw); } }
  html.font-size-3 {
    font-size: calc(7vw); }
    @media (min-width: 600px) {
      html.font-size-3 {
        font-size: calc(4vw); } }
  html.font-size-4 {
    font-size: calc(8vw); }
    @media (min-width: 600px) {
      html.font-size-4 {
        font-size: calc(4.5vw); } }
  html.font-size-5 {
    font-size: calc(9vw); }
    @media (min-width: 600px) {
      html.font-size-5 {
        font-size: calc(5vw); } }

body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  width: 100vw;
  background-color: #f7f7f3;
  transition: background-color, color 0.2s; }
  body, body a, body a:active, body a:visited {
    color: #333333; }
  .dark-background body {
    background-color: #191924; }
    .dark-background body, .dark-background body a, .dark-background body a:active, .dark-background body a:visited {
      color: #e6e6e6; }

.item {
  height: 100vh; }

.itemArticle {
  padding: 0;
  margin: 0; }

.cover, .body {
  position: relative;
  margin: 0;
  /*padding: $step * .5;*/
  width: 100%;
  max-width: 100%; }

.the-rest, .body {
  font-size: calc(1rem / 1.5);
  line-height: 1rem; }

.the-rest {
  margin: 0; }
  .the-rest h1, .the-rest h2, .the-rest h3 {
    margin: 56px 0 28px;
    padding: 14px;
    font-family: 'AvenirNext-Regular'; }
  .the-rest h3 {
    font-weight: 300;
    text-align: center; }

.body {
  position: relative;
  z-index: 10;
  padding: 2rem 0.5rem;
  width: 100vw;
  max-width: 20rem;
  margin: 0 auto;
  font-family: "Cochin", serif;
  -webkit-hyphens: auto;
  /* gambling that it's a video */ }
  .body p {
    margin: 0;
    margin-bottom: 1rem; }
  .body img, .body video, .body iframe, .body pre {
    position: relative;
    max-width: calc(100vw - 1rem) !important;
    height: auto !important;
    margin: 0 0 1rem;
    border: 0; }
    p .body img:last-of-type, p .body video:last-of-type, p .body iframe:last-of-type, p .body pre:last-of-type {
      margin-bottom: 0; }
  .body figure img {
    margin-bottom: 0; }
  .body img:not(.img-portrait):not(.img-small), .body video, .body iframe, .body pre {
    width: 100vw;
    max-width: 100vw !important;
    width: 100vw !important;
    left: -14px;
    overflow: scroll;
    border-bottom: 1px solid #ededed; }
    @media (min-width: 600px) {
      .body img:not(.img-portrait):not(.img-small), .body video, .body iframe, .body pre {
        left: calc(50% - 50vw); } }
  .body img.img-portrait, .body img.img-small {
    display: block;
    margin: 0.5rem auto; }
  .body > figure:first-child,
  .body > img:first-child,
  .body > *:not(figure):first-child > figure:first-child,
  .body > *:not(figure):first-child > img:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > img:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child {
    position: relative;
    top: -2rem;
    margin-top: 0;
    margin-bottom: 0; }
  .body > img.img-portrait:first-child,
  .body > *:not(figure):first-child > img.img-portrait:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child,
  .body > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child {
    top: -0.5rem;
    margin-bottom: 2rem; }
  .body > *:empty + figure:first-child,
  .body > *:empty + img:first-child,
  .body > *:empty:first-child + *:first-of-type + figure:first-child,
  .body > *:empty:first-child + *:first-of-type + img:first-child,
  .body > *:first-child > *:empty + figure:first-child,
  .body > *:first-child > *:empty + img:first-child,
  .body > *:first-child > *:first-child > *:empty + figure:first-child,
  .body > *:first-child > *:first-child > *:empty + img:first-child,
  .body > *:first-child > *:first-child > *:first-child > *:empty + figure:first-child,
  .body > *:first-child > *:first-child > *:first-child > *:empty + img:first-child {
    position: relative;
    top: -2rem;
    margin-top: 0;
    margin-bottom: 0; }
  .body iframe, .body video {
    height: 55vw !important; }
  .body blockquote {
    margin: 0 0 1rem;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1rem;
    background-color: white;
    left: -0.5rem;
    width: 100vw;
    padding: 1rem 0.5rem;
    display: block;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid rgba(0, 0, 0, 0.05);
    -webkit-hyphens: none; }
    .body blockquote > p:last-of-type {
      margin-bottom: 0; }
    .body blockquote.short-blockquote {
      background-color: transparent;
      border: none;
      font-size: 2em;
      line-height: 1em;
      padding: 1px .5em;
      text-align: center;
      margin: 3rem 0;
      hyphens: none; }
      @media (min-width: 600px) {
        .body blockquote.short-blockquote {
          margin: 3rem calc(50% - 50vw); } }
  .body figcaption {
    position: relative;
    margin: 0 -28px;
    padding: 14px 28px;
    border-bottom: 1px solid #ededed;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    color: #ababab;
    background-color: white;
    position: relative; }
  @media (min-width: 600px) {
    .body figcaption, .body blockquote {
      margin: 0 calc(50% - 50vw) 1rem;
      left: 0;
      padding: 1rem calc(50vw - 50%); } }
  @media (min-width: 600px) {
    .body blockquote {
      margin-bottom: 1rem; } }
  .body a.unused, .body a.unused:active, .body a.unused:visited {
    color: inherit !important;
    /*text-decoration: none;*/
    background-image: linear-gradient(to bottom, transparent 19px, rgba(199, 199, 0, 0.3) 19px, rgba(199, 199, 0, 0.3) 24px);
    /*display: inline-block;*/
    /*padding-bottom: 0;*/
    /*line-height: .5;*/ }
    .body a.unused img, .body a.unused:active img, .body a.unused:visited img {
      /* hide link gradient */
      margin-bottom: -6px; }
  .body figure {
    padding: 0;
    margin: 1rem 0; }
  .body iframe {
    max-width: 100%; }
  .body pre {
    font-size: 14px;
    line-height: 1.4;
    overflow: scroll;
    color: #333333;
    padding: 14px; }
  .body * div > p:first-of-type,
  .body div:not(:first-of-type) > p:first-of-type {
    margin-top: 84px; }
  .body ul {
    list-style: none;
    padding-left: 0; }
  .body li {
    padding: 14px 0; }
  .body header {
    font-weight: 500; }
  .body figure input {
    display: none; }
  .dark-background .body img:not(.img-portrait):not(.img-small), .dark-background .body video, .dark-background .body iframe, .dark-background .body pre {
    border-bottom: 1px solid #121212; }
  .dark-background .body blockquote {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .dark-background .body blockquote, .dark-background .body figcaption {
    border-bottom: 3px solid rgba(0, 0, 0, 0.05); }
  .dark-background .body figcaption {
    color: #c4c4c4; }
  .dark-background .body blockquote, .dark-background .body figcaption {
    background-color: rgba(0, 0, 0, 0.2); }
  .dark-background .body pre {
    color: #cccccc; }

article {
  margin-bottom: 168px; }

article > div:not(:last-of-type) p:last-child,
article > div:not(:last-of-type) figure:last-child {
  margin-bottom: 112px; }

div > p:not(.short-para):first-of-type:first-letter {
  font-size: 6rem;
  line-height: .33;
  float: left;
  display: block;
  margin: 28px 6px 12px 0;
  font-family: Avenir;
  font-weight: 700; }

div > p:not(.short-para):first-of-type.firstPara {
  border-top: 0;
  padding-top: 0; }

div > p:first-of-type:first-line {
  font-variant: small-caps; }

.single-char-para {
  text-align: center;
  margin: 2rem; }

.bodyFontSerif1 .body {
  font-family: "LibreBaskerville-Regular", serif;
  font-size: calc(1rem / 1.7); }
  .bodyFontSerif1 .body figcaption {
    font-family: "Gill Sans"; }

.bodyFontSans1 .body {
  font-family: "Gill Sans", sans-serif; }
  .bodyFontSans1 .body figcaption {
    font-family: "LibreBaskerville-Regular"; }

.bodyFontSerif2 .body {
  font-family: "Iowan Old Style", serif; }
  .bodyFontSerif2 .body figcaption {
    font-family: "Gill Sans"; }

.bodyFontSans2 .body {
  font-family: "Avenir", serif; }
  .bodyFontSans2 .body figcaption {
    font-family: "Cochin"; }

.itemArticle .body a, .itemArticle .body a:active, .itemArticle .body a:visited {
  /*text-decoration: none;*/ }

.feedflare {
  display: none !important; }

.itemArticle.red1 div > p:not(.short-para):first-of-type:first-letter {
  color: #d56c75; }

.itemArticle.red1 .body a, .itemArticle.red1 .body a:active, .itemArticle.red1 .body a:visited {
  -webkit-text-decoration-color: #d56c75; }

.itemArticle.red1 .body blockquote.short-blockquote {
  color: #d56c75; }

.itemArticle.red2 div > p:not(.short-para):first-of-type:first-letter {
  color: #c33763; }

.itemArticle.red2 .body a, .itemArticle.red2 .body a:active, .itemArticle.red2 .body a:visited {
  -webkit-text-decoration-color: #c33763; }

.itemArticle.red2 .body blockquote.short-blockquote {
  color: #c33763; }

.itemArticle.orange1 div > p:not(.short-para):first-of-type:first-letter {
  color: #ff8133; }

.itemArticle.orange1 .body a, .itemArticle.orange1 .body a:active, .itemArticle.orange1 .body a:visited {
  -webkit-text-decoration-color: #ff8133; }

.itemArticle.orange1 .body blockquote.short-blockquote {
  color: #ff8133; }

.itemArticle.orange2 div > p:not(.short-para):first-of-type:first-letter {
  color: #f7951d; }

.itemArticle.orange2 .body a, .itemArticle.orange2 .body a:active, .itemArticle.orange2 .body a:visited {
  -webkit-text-decoration-color: #f7951d; }

.itemArticle.orange2 .body blockquote.short-blockquote {
  color: #f7951d; }

.itemArticle.yellow1 div > p:not(.short-para):first-of-type:first-letter {
  color: #ffd000; }

.itemArticle.yellow1 .body a, .itemArticle.yellow1 .body a:active, .itemArticle.yellow1 .body a:visited {
  -webkit-text-decoration-color: #ffd000; }

.itemArticle.yellow1 .body blockquote.short-blockquote {
  color: #ffd000; }

.itemArticle.yellow2 div > p:not(.short-para):first-of-type:first-letter {
  color: #d9e363; }

.itemArticle.yellow2 .body a, .itemArticle.yellow2 .body a:active, .itemArticle.yellow2 .body a:visited {
  -webkit-text-decoration-color: #d9e363; }

.itemArticle.yellow2 .body blockquote.short-blockquote {
  color: #d9e363; }

.itemArticle.green1 div > p:not(.short-para):first-of-type:first-letter {
  color: #30e8c0; }

.itemArticle.green1 .body a, .itemArticle.green1 .body a:active, .itemArticle.green1 .body a:visited {
  -webkit-text-decoration-color: #30e8c0; }

.itemArticle.green1 .body blockquote.short-blockquote {
  color: #30e8c0; }

.itemArticle.blue1 div > p:not(.short-para):first-of-type:first-letter {
  color: #476adc; }

.itemArticle.blue1 .body a, .itemArticle.blue1 .body a:active, .itemArticle.blue1 .body a:visited {
  -webkit-text-decoration-color: #476adc; }

.itemArticle.blue1 .body blockquote.short-blockquote {
  color: #476adc; }

.itemArticle.blue2 div > p:not(.short-para):first-of-type:first-letter {
  color: #0b99d5; }

.itemArticle.blue2 .body a, .itemArticle.blue2 .body a:active, .itemArticle.blue2 .body a:visited {
  -webkit-text-decoration-color: #0b99d5; }

.itemArticle.blue2 .body blockquote.short-blockquote {
  color: #0b99d5; }

.itemArticle.purple1 div > p:not(.short-para):first-of-type:first-letter {
  color: #b06bb3; }

.itemArticle.purple1 .body a, .itemArticle.purple1 .body a:active, .itemArticle.purple1 .body a:visited {
  -webkit-text-decoration-color: #b06bb3; }

.itemArticle.purple1 .body blockquote.short-blockquote {
  color: #b06bb3; }

.itemArticle.purple2 div > p:not(.short-para):first-of-type:first-letter {
  color: #ef61c0; }

.itemArticle.purple2 .body a, .itemArticle.purple2 .body a:active, .itemArticle.purple2 .body a:visited {
  -webkit-text-decoration-color: #ef61c0; }

.itemArticle.purple2 .body blockquote.short-blockquote {
  color: #ef61c0; }

.itemArticle.brown1 div > p:not(.short-para):first-of-type:first-letter {
  color: #e29588; }

.itemArticle.brown1 .body a, .itemArticle.brown1 .body a:active, .itemArticle.brown1 .body a:visited {
  -webkit-text-decoration-color: #e29588; }

.itemArticle.brown1 .body blockquote.short-blockquote {
  color: #e29588; }
