* {
  box-sizing: border-box; }

html {
  font-size: calc(7vw);
  transition: font-size 0.2s; }
  @media (min-width: 600px) {
    html {
      font-size: calc(4vw); } }
  html.font-size-1 {
    font-size: calc(6vw); }
    @media (min-width: 600px) {
      html.font-size-1 {
        font-size: calc(3.5vw); } }
  html.font-size-2 {
    font-size: calc(7vw); }
    @media (min-width: 600px) {
      html.font-size-2 {
        font-size: calc(4vw); } }
  html.font-size-3 {
    font-size: calc(8vw); }
    @media (min-width: 600px) {
      html.font-size-3 {
        font-size: calc(4.5vw); } }
  html.font-size-4 {
    font-size: calc(9vw); }
    @media (min-width: 600px) {
      html.font-size-4 {
        font-size: calc(5vw); } }
  html.font-size-5 {
    font-size: calc(10vw); }
    @media (min-width: 600px) {
      html.font-size-5 {
        font-size: calc(5.5vw); } }

body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width: 100vw;
  background-color: #f7f7f3;
  transition: background-color, color 0.2s; }
  body, body a, body a:active, body a:visited {
    color: #595959; }
  .dark-background body {
    background-color: #191924; }
    .dark-background body, .dark-background body a, .dark-background body a:active, .dark-background body a:visited {
      color: #b3b3b3; }

.item {
  height: 100vh; }

.itemArticle {
  padding: 0;
  margin: 0; }

.cover, .body {
  position: relative;
  margin: 0;
  /*padding: $step * .5;*/
  width: 100%;
  max-width: 100%; }

.itemArticle {
  font-size: calc(1rem / 1.7);
  line-height: 1rem;
  margin: 0; }
  .itemArticle h1, .itemArticle h2, .itemArticle h3, .itemArticle h4, .itemArticle h5 {
    padding: 0;
    line-height: 1em;
    -webkit-hyphens: none; }
  .itemArticle h1, .itemArticle h2 {
    font-size: 1rem;
    margin: 4rem 0 1rem; }
  .itemArticle h2 {
    font-size: 1rem;
    border-bottom: 1px solid; }
  .itemArticle h2, .itemArticle h4 {
    font-weight: normal; }
  .itemArticle h3, .itemArticle h4 {
    font-size: 0.8rem;
    line-height: 1rem;
    margin: 2rem 0 1rem; }
  .itemArticle h5, .itemArticle h6 {
    font-size: calc(1rem / 1.7);
    line-height: 1rem;
    margin: 1rem 0 0; }
  .itemArticle h4 {
    font-style: italic; }

.itemArticle {
  position: relative;
  z-index: 10;
  padding: 2rem 0.5rem;
  width: 100vw;
  max-width: 20rem;
  margin: 0 auto;
  font-family: "Cochin", serif;
  -webkit-hyphens: auto;
  -webkit-text-size-adjust: none;
  /* gambling that it's a video */ }
  .itemArticle p, .itemArticle center {
    margin: 0;
    margin-bottom: 1rem; }
  .itemArticle sup {
    line-height: 0; }
  .itemArticle figure, .itemArticle img, .itemArticle video, .itemArticle iframe, .itemArticle pre {
    position: relative !important;
    max-width: calc(100vw - 1rem) !important;
    height: auto !important;
    margin: 0 0 1rem;
    border: 0; }
  .itemArticle figure, .itemArticle img, .itemArticle video, .itemArticle iframe, .itemArticle pre {
    width: 100vw;
    max-width: 100vw !important;
    width: 100vw !important;
    left: -0.5rem;
    overflow: scroll;
    background-color: white;
    border-bottom: 1px solid #ededed; }
    @media (min-width: 600px) {
      .itemArticle figure, .itemArticle img, .itemArticle video, .itemArticle iframe, .itemArticle pre {
        left: calc(50% - 50vw);
        margin: 0; } }
  .itemArticle img:not(.img-portrait):not(.img-small) {
    width: 100vw !important; }
  .itemArticle img.img-portrait, .itemArticle img.img-small {
    margin: 0.5rem;
    max-width: calc(100vw - 1rem) !important;
    width: 100% !important; }
    figure .itemArticle img.img-portrait, figure .itemArticle img.img-small {
      width: calc(100% - 1rem); }
    @media (min-width: 600px) {
      .itemArticle img.img-portrait, .itemArticle img.img-small {
        left: 0; } }
  .itemArticle figure img, .itemArticle figure iframe {
    margin: 0;
    left: 0;
    border-bottom: 0; }
  .itemArticle > figure:first-child,
  .itemArticle > img:first-child,
  .itemArticle > iframe:first-child,
  .itemArticle > p:first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > img:first-child,
  .itemArticle > *:not(figure):first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > p:first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > img:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > p:first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > p:first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > p:first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > p:first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > p:first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > p:first-child > iframe:first-child {
    position: relative;
    top: -2rem;
    margin-top: 0;
    margin-bottom: 0rem; }
  .itemArticle > img.img-portrait:first-child,
  .itemArticle > *:not(figure):first-child > img.img-portrait:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child {
    top: -1.5rem;
    margin-bottom: -1.5rem; }
  .itemArticle > *:empty + figure:first-child,
  .itemArticle > *:empty + img:first-child,
  .itemArticle > *:empty:first-child + *:first-of-type + figure:first-child,
  .itemArticle > *:empty:first-child + *:first-of-type + img:first-child,
  .itemArticle > *:first-child > *:empty + figure:first-child,
  .itemArticle > *:first-child > *:empty + img:first-child,
  .itemArticle > *:first-child > *:first-child > *:empty + figure:first-child,
  .itemArticle > *:first-child > *:first-child > *:empty + img:first-child,
  .itemArticle > *:first-child > *:first-child > *:first-child > *:empty + figure:first-child,
  .itemArticle > *:first-child > *:first-child > *:first-child > *:empty + img:first-child {
    position: relative;
    top: -2rem;
    margin-top: 0;
    margin-bottom: 0; }
  .itemArticle iframe, .itemArticle video {
    height: 55vw !important; }
  .itemArticle blockquote, .itemArticle .pullquote {
    margin: 0 0 1rem;
    font-style: italic;
    font-size: 0.5rem;
    line-height: 1rem;
    background-color: white;
    left: -0.5rem;
    width: 100vw;
    padding: 1rem 0.5rem;
    display: block;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid rgba(0, 0, 0, 0.05);
    -webkit-hyphens: none; }
    .itemArticle blockquote > p:last-of-type, .itemArticle .pullquote > p:last-of-type {
      margin-bottom: 0; }
  .itemArticle blockquote.short-blockquote, .itemArticle .pullquote {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    line-height: 1.33rem;
    font-style: normal;
    padding: 1rem .5rem;
    margin: 1rem 0;
    border-top: 1px solid;
    border-bottom: 1px solid; }
    @media (min-width: 600px) {
      .itemArticle blockquote.short-blockquote, .itemArticle .pullquote {
        margin: 3rem calc(50% - 50vw); } }
  .itemArticle figcaption {
    position: relative;
    padding: .25rem .5rem .5rem;
    border-bottom: 1px solid #ededed;
    font-size: 0.5rem;
    font-weight: 300;
    line-height: 0.66rem;
    color: #ababab;
    background-color: white;
    position: relative; }
  @media (min-width: 600px) {
    .itemArticle figcaption, .itemArticle blockquote {
      margin: 0 calc(50% - 50vw) 1rem;
      left: 0;
      padding: 1rem calc(50vw - 50%); } }
  @media (min-width: 600px) {
    .itemArticle blockquote {
      margin-bottom: 1rem; } }
  .itemArticle a.unused, .itemArticle a.unused:active, .itemArticle a.unused:visited {
    color: inherit !important;
    /*text-decoration: none;*/
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 19px, rgba(199, 199, 0, 0.3) 19px, rgba(199, 199, 0, 0.3) 24px);
    /*display: inline-block;*/
    /*padding-bottom: 0;*/
    /*line-height: .5;*/ }
    .itemArticle a.unused img, .itemArticle a.unused:active img, .itemArticle a.unused:visited img {
      /* hide link gradient */
      margin-bottom: -6px; }
  .itemArticle figure {
    padding: 0;
    margin: 1rem 0; }
  .itemArticle iframe {
    max-width: 100%; }
  .itemArticle pre {
    font-size: 14px;
    line-height: 1.4;
    overflow: scroll;
    color: #333333;
    padding: 14px; }
  .itemArticle > div + div:not(:first-of-type):before {
    content: '';
    height: 10px;
    display: block;
    margin: 0 calc(50% - 1rem) 2rem;
    transform: rotateZ(-30deg); }
  .itemArticle > div + div:not(:first-of-type):nth-of-type(4n+1):before {
    transform: rotateZ(0deg); }
  .itemArticle > div + div:not(:first-of-type):nth-of-type(4n+2):before {
    transform: rotateZ(30deg); }
  .itemArticle > div + div:not(:first-of-type):nth-of-type(4n+3):before {
    transform: rotateZ(90deg); }
  .itemArticle > div + div:not(:first-of-type):nth-of-type(4n+4):before {
    transform: rotateZ(150deg); }
  .itemArticle > div + div:not(:first-of-type) > p:first-of-type {
    margin-top: 112px; }
  .itemArticle ul {
    list-style: circle inside;
    padding-left: 0; }
  .itemArticle li {
    padding: 14px 0; }
  .itemArticle header {
    font-weight: 500; }
  .itemArticle figure input {
    display: none; }
  .dark-background .itemArticle img:not(.img-portrait):not(.img-small), .dark-background .itemArticle video, .dark-background .itemArticle iframe, .dark-background .itemArticle pre {
    border-bottom: 1px solid #121212; }
  .dark-background .itemArticle blockquote {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .dark-background .itemArticle blockquote, .dark-background .itemArticle figcaption {
    border-bottom: 3px solid rgba(0, 0, 0, 0.05); }
  .dark-background .itemArticle figcaption {
    color: #c4c4c4; }
  .dark-background .itemArticle blockquote, .dark-background .itemArticle figcaption {
    background-color: rgba(0, 0, 0, 0.2); }
  .dark-background .itemArticle pre {
    color: #cccccc; }

article {
  margin-bottom: 168px; }

article > div:not(:last-of-type) p:last-child,
article > div:not(:last-of-type) figure:last-child {
  margin-bottom: 2rem; }

.itemArticle > p:not(.short-para):first-of-type:first-letter,
.itemArticle > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 4rem;
  line-height: .6;
  display: block;
  margin-right: 0.1rem; }

.itemArticle > p:not(.short-para):first-of-type.firstPara,
.itemArticle > div:first-of-type > p:not(.short-para):first-of-type.firstPara,
.itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type.firstPara {
  border-top: 0;
  padding-top: 0; }

.itemArticle.dropCapIsDrop > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapIsDrop > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapIsDrop > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0;
  float: left; }

.itemArticle.dropCapSize2.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 1.9rem; }

.itemArticle.dropCapSize2.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.42rem; }

.itemArticle.dropCapSize2.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 2.2rem; }

.itemArticle.dropCapSize2.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.3rem; }

.itemArticle.dropCapSize2.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 2.2rem; }

.itemArticle.dropCapSize2.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.3rem; }

.itemArticle.dropCapSize2.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 2.21rem; }

.itemArticle.dropCapSize2.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.35rem; }

.itemArticle.dropCapSize2.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 2.1rem; }

.itemArticle.dropCapSize2.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.4rem; }

.itemArticle.dropCapSize3.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 3.15rem; }

.itemArticle.dropCapSize3.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.6rem; }

.itemArticle.dropCapSize3.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 3.5rem; }

.itemArticle.dropCapSize3.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.43rem; }

.itemArticle.dropCapSize3.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 2.2rem; }

.itemArticle.dropCapSize3.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.3rem; }

.itemArticle.dropCapSize3.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 3.52rem; }

.itemArticle.dropCapSize3.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.38rem; }

.itemArticle.dropCapSize3.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 3.5rem; }

.itemArticle.dropCapSize3.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.55rem; }

.itemArticle.dropCapSize4.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 4.45rem; }

.itemArticle.dropCapSize4.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.8rem; }

.itemArticle.dropCapSize4.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 4.95rem; }

.itemArticle.dropCapSize4.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.5rem; }

.itemArticle.dropCapSize4.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 2.2rem; }

.itemArticle.dropCapSize4.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.3rem; }

.itemArticle.dropCapSize4.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 5rem; }

.itemArticle.dropCapSize4.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.4rem; }

.itemArticle.dropCapSize4.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 4.9rem; }

.itemArticle.dropCapSize4.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.67rem; }

.itemArticle.dropCapSize5.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 5.7rem; }

.itemArticle.dropCapSize5.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.95rem; }

.itemArticle.dropCapSize5.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 6.4rem; }

.itemArticle.dropCapSize5.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.55rem; }

.itemArticle.dropCapSize5.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 2.2rem; }

.itemArticle.dropCapSize5.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.3rem; }

.itemArticle.dropCapSize5.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 6.4rem; }

.itemArticle.dropCapSize5.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.45rem; }

.itemArticle.dropCapSize5.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 6.3rem; }

.itemArticle.dropCapSize5.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.8rem; }

.itemArticle.dropCapSize6 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 7.1rem; }

.itemArticle.dropCapSize6 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.6rem; }

.itemArticle.dropCapSize7 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize7 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize7 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 7.1rem; }

.itemArticle.dropCapSize7 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize7 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize7 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.6rem; }

.itemArticle.dropCapIsBold > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapIsBold > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapIsBold > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-weight: 700; }

.single-char-para {
  text-align: center;
  margin: 2rem; }

.bodyFontSerif1 {
  font-family: "LibreBaskerville-Regular", serif;
  font-size: calc(1rem / 1.9); }
  .bodyFontSerif1 h1, .bodyFontSerif1 h2, .bodyFontSerif1 h3, .bodyFontSerif1 h4, .bodyFontSerif1 h5, .bodyFontSerif1 figcaption {
    font-family: "Avenir"; }

.bodyFontSans1 {
  font-family: "IBMPlexSans", sans-serif;
  font-size: calc(1rem / 1.75); }
  .bodyFontSans1 h1, .bodyFontSans1 h2, .bodyFontSans1 h3, .bodyFontSans1 h4, .bodyFontSans1 h5, .bodyFontSans1 figcaption {
    font-family: "LibreBaskerville-Regular"; }

.bodyFontSerif2 {
  font-family: "Iowan Old Style", serif; }
  .bodyFontSerif2 h1, .bodyFontSerif2 h2, .bodyFontSerif2 h3, .bodyFontSerif2 h4, .bodyFontSerif2 h5, .bodyFontSerif2 figcaption {
    font-family: "AvenirNext"; }

.bodyFontSans2 {
  font-family: "AvenirNext-Regular", serif; }
  .bodyFontSans2 h1, .bodyFontSans2 h2, .bodyFontSans2 h3, .bodyFontSans2 h4, .bodyFontSans2 h5, .bodyFontSans2 figcaption {
    font-family: "Iowan Old Style"; }

.bodyFontSerif3 {
  font-family: "IBM Plex Serif", serif;
  font-size: calc(1rem / 1.8); }
  .bodyFontSerif3 h1, .bodyFontSerif3 h2, .bodyFontSerif3 h3, .bodyFontSerif3 h4, .bodyFontSerif3 h5, .bodyFontSerif3 figcaption {
    font-family: "IBM Plex Sans"; }

.headerFontSans1 h1, .headerFontSans1 h3, .headerFontSans1 h5 {
  font-family: "AvenirNextCondensed-Bold"; }

.headerFontSans1 h2, .headerFontSans1 h4, .headerFontSans1 figcaption, .headerFontSans1 blockquote:not(.short-blockquote):not(.pullquote) {
  font-family: "AvenirNext-Medium"; }

.headerFontSans2 h1, .headerFontSans2 h3, .headerFontSans2 h5 {
  font-family: "Montserrat-Bold"; }

.headerFontSans2 h2, .headerFontSans2 h4, .headerFontSans2 figcaption, .headerFontSans2 blockquote:not(.short-blockquote):not(.pullquote) {
  font-family: "Montserrat-Light"; }

.headerFontSans3 h1, .headerFontSans3 h3, .headerFontSans3 h5 {
  font-family: "IBMPlexSans-Bold"; }

.headerFontSans3 h2, .headerFontSans3 h4, .headerFontSans3 figcaption, .headerFontSans3 blockquote:not(.short-blockquote):not(.pullquote) {
  font-family: "IBMPlexSans-Light"; }

.headerFontSerif1 h1, .headerFontSerif1 h3, .headerFontSerif1 h5 {
  font-family: "IBMPlexSerif-Bold"; }

.headerFontSerif1 h2, .headerFontSerif1 h4, .headerFontSerif1 figcaption, .headerFontSerif1 blockquote:not(.short-blockquote):not(.pullquote) {
  font-family: "IBMPlexSerif-Light"; }

.headerFontSerif2 h1, .headerFontSerif2 h3, .headerFontSerif2 h5 {
  font-family: "Arvo-Bold"; }

.headerFontSerif2 h2, .headerFontSerif2 h4, .headerFontSerif2 figcaption, .headerFontSerif2 blockquote:not(.short-blockquote):not(.pullquote) {
  font-family: "Arvo"; }

.headerFontSerif3 h1, .headerFontSerif3 h3, .headerFontSerif3 h5 {
  font-family: "PlayfairDisplay-Black"; }

.headerFontSerif3 h2, .headerFontSerif3 h4, .headerFontSerif3 figcaption, .headerFontSerif3 blockquote:not(.short-blockquote):not(.pullquote) {
  font-family: "PlayfairDisplay-Regular"; }

.itemArticle a, .itemArticle a:active, .itemArticle a:visited {
  /*text-decoration: none;*/ }

.feedflare {
  display: none !important; }

.itemArticle.red1 a, .itemArticle.red1 a:active, .itemArticle.red1 a:visited {
  color: #aa5a82;
  text-decoration: none; }

.itemArticle.red1 blockquote.short-blockquote, .itemArticle.red1 .pullquote {
  color: #aa5a82; }

.itemArticle.red1 *:not(:first-of-type) div:before,
.itemArticle.red1 * div:not(:first-of-type):before,
.itemArticle.red1 div:not(:first-of-type):before {
  background-color: #aa5a82; }

.itemArticle.red1:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red1:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red1:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #aa5a82; }

.itemArticle.red1.dropCapIsStroke > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red1.dropCapIsStroke > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red1.dropCapIsStroke > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: transparent;
  -webkit-text-stroke: 2px #444444; }

.itemArticle.red1.dropCapIsStroke:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red1.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red1.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  -webkit-text-stroke-color: #aa5a82; }

.itemArticle.red2 a, .itemArticle.red2 a:active, .itemArticle.red2 a:visited {
  color: #aa5a5a;
  text-decoration: none; }

.itemArticle.red2 blockquote.short-blockquote, .itemArticle.red2 .pullquote {
  color: #aa5a5a; }

.itemArticle.red2 *:not(:first-of-type) div:before,
.itemArticle.red2 * div:not(:first-of-type):before,
.itemArticle.red2 div:not(:first-of-type):before {
  background-color: #aa5a5a; }

.itemArticle.red2:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red2:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red2:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #aa5a5a; }

.itemArticle.red2.dropCapIsStroke > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red2.dropCapIsStroke > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red2.dropCapIsStroke > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: transparent;
  -webkit-text-stroke: 2px #444444; }

.itemArticle.red2.dropCapIsStroke:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red2.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red2.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  -webkit-text-stroke-color: #aa5a5a; }

.itemArticle.red3 a, .itemArticle.red3 a:active, .itemArticle.red3 a:visited {
  color: #aa6e5a;
  text-decoration: none; }

.itemArticle.red3 blockquote.short-blockquote, .itemArticle.red3 .pullquote {
  color: #aa6e5a; }

.itemArticle.red3 *:not(:first-of-type) div:before,
.itemArticle.red3 * div:not(:first-of-type):before,
.itemArticle.red3 div:not(:first-of-type):before {
  background-color: #aa6e5a; }

.itemArticle.red3:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red3:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red3:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #aa6e5a; }

.itemArticle.red3.dropCapIsStroke > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red3.dropCapIsStroke > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red3.dropCapIsStroke > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: transparent;
  -webkit-text-stroke: 2px #444444; }

.itemArticle.red3.dropCapIsStroke:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red3.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.red3.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  -webkit-text-stroke-color: #aa6e5a; }

.itemArticle.orange1 a, .itemArticle.orange1 a:active, .itemArticle.orange1 a:visited {
  color: #aa825a;
  text-decoration: none; }

.itemArticle.orange1 blockquote.short-blockquote, .itemArticle.orange1 .pullquote {
  color: #aa825a; }

.itemArticle.orange1 *:not(:first-of-type) div:before,
.itemArticle.orange1 * div:not(:first-of-type):before,
.itemArticle.orange1 div:not(:first-of-type):before {
  background-color: #aa825a; }

.itemArticle.orange1:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.orange1:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.orange1:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #aa825a; }

.itemArticle.orange1.dropCapIsStroke > p:not(.short-para):first-of-type:first-letter,
.itemArticle.orange1.dropCapIsStroke > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.orange1.dropCapIsStroke > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: transparent;
  -webkit-text-stroke: 2px #444444; }

.itemArticle.orange1.dropCapIsStroke:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.orange1.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.orange1.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  -webkit-text-stroke-color: #aa825a; }

.itemArticle.orange2 a, .itemArticle.orange2 a:active, .itemArticle.orange2 a:visited {
  color: #aa965a;
  text-decoration: none; }

.itemArticle.orange2 blockquote.short-blockquote, .itemArticle.orange2 .pullquote {
  color: #aa965a; }

.itemArticle.orange2 *:not(:first-of-type) div:before,
.itemArticle.orange2 * div:not(:first-of-type):before,
.itemArticle.orange2 div:not(:first-of-type):before {
  background-color: #aa965a; }

.itemArticle.orange2:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.orange2:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.orange2:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #aa965a; }

.itemArticle.orange2.dropCapIsStroke > p:not(.short-para):first-of-type:first-letter,
.itemArticle.orange2.dropCapIsStroke > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.orange2.dropCapIsStroke > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: transparent;
  -webkit-text-stroke: 2px #444444; }

.itemArticle.orange2.dropCapIsStroke:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.orange2.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.orange2.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  -webkit-text-stroke-color: #aa965a; }

.itemArticle.yellow1 a, .itemArticle.yellow1 a:active, .itemArticle.yellow1 a:visited {
  color: #aaaa5a;
  text-decoration: none; }

.itemArticle.yellow1 blockquote.short-blockquote, .itemArticle.yellow1 .pullquote {
  color: #aaaa5a; }

.itemArticle.yellow1 *:not(:first-of-type) div:before,
.itemArticle.yellow1 * div:not(:first-of-type):before,
.itemArticle.yellow1 div:not(:first-of-type):before {
  background-color: #aaaa5a; }

.itemArticle.yellow1:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.yellow1:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.yellow1:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #aaaa5a; }

.itemArticle.yellow1.dropCapIsStroke > p:not(.short-para):first-of-type:first-letter,
.itemArticle.yellow1.dropCapIsStroke > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.yellow1.dropCapIsStroke > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: transparent;
  -webkit-text-stroke: 2px #444444; }

.itemArticle.yellow1.dropCapIsStroke:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.yellow1.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.yellow1.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  -webkit-text-stroke-color: #aaaa5a; }

.itemArticle.yellow2 a, .itemArticle.yellow2 a:active, .itemArticle.yellow2 a:visited {
  color: #96aa5a;
  text-decoration: none; }

.itemArticle.yellow2 blockquote.short-blockquote, .itemArticle.yellow2 .pullquote {
  color: #96aa5a; }

.itemArticle.yellow2 *:not(:first-of-type) div:before,
.itemArticle.yellow2 * div:not(:first-of-type):before,
.itemArticle.yellow2 div:not(:first-of-type):before {
  background-color: #96aa5a; }

.itemArticle.yellow2:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.yellow2:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.yellow2:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #96aa5a; }

.itemArticle.yellow2.dropCapIsStroke > p:not(.short-para):first-of-type:first-letter,
.itemArticle.yellow2.dropCapIsStroke > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.yellow2.dropCapIsStroke > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: transparent;
  -webkit-text-stroke: 2px #444444; }

.itemArticle.yellow2.dropCapIsStroke:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.yellow2.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.yellow2.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  -webkit-text-stroke-color: #96aa5a; }

.itemArticle.green1 a, .itemArticle.green1 a:active, .itemArticle.green1 a:visited {
  color: #82aa5a;
  text-decoration: none; }

.itemArticle.green1 blockquote.short-blockquote, .itemArticle.green1 .pullquote {
  color: #82aa5a; }

.itemArticle.green1 *:not(:first-of-type) div:before,
.itemArticle.green1 * div:not(:first-of-type):before,
.itemArticle.green1 div:not(:first-of-type):before {
  background-color: #82aa5a; }

.itemArticle.green1:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green1:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green1:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #82aa5a; }

.itemArticle.green1.dropCapIsStroke > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green1.dropCapIsStroke > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green1.dropCapIsStroke > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: transparent;
  -webkit-text-stroke: 2px #444444; }

.itemArticle.green1.dropCapIsStroke:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green1.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green1.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  -webkit-text-stroke-color: #82aa5a; }

.itemArticle.green2 a, .itemArticle.green2 a:active, .itemArticle.green2 a:visited {
  color: #5aaa5a;
  text-decoration: none; }

.itemArticle.green2 blockquote.short-blockquote, .itemArticle.green2 .pullquote {
  color: #5aaa5a; }

.itemArticle.green2 *:not(:first-of-type) div:before,
.itemArticle.green2 * div:not(:first-of-type):before,
.itemArticle.green2 div:not(:first-of-type):before {
  background-color: #5aaa5a; }

.itemArticle.green2:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green2:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green2:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #5aaa5a; }

.itemArticle.green2.dropCapIsStroke > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green2.dropCapIsStroke > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green2.dropCapIsStroke > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: transparent;
  -webkit-text-stroke: 2px #444444; }

.itemArticle.green2.dropCapIsStroke:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green2.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green2.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  -webkit-text-stroke-color: #5aaa5a; }

.itemArticle.green3 a, .itemArticle.green3 a:active, .itemArticle.green3 a:visited {
  color: #5aaa82;
  text-decoration: none; }

.itemArticle.green3 blockquote.short-blockquote, .itemArticle.green3 .pullquote {
  color: #5aaa82; }

.itemArticle.green3 *:not(:first-of-type) div:before,
.itemArticle.green3 * div:not(:first-of-type):before,
.itemArticle.green3 div:not(:first-of-type):before {
  background-color: #5aaa82; }

.itemArticle.green3:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green3:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green3:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #5aaa82; }

.itemArticle.green3.dropCapIsStroke > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green3.dropCapIsStroke > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green3.dropCapIsStroke > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: transparent;
  -webkit-text-stroke: 2px #444444; }

.itemArticle.green3.dropCapIsStroke:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green3.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.green3.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  -webkit-text-stroke-color: #5aaa82; }

.itemArticle.cyan a, .itemArticle.cyan a:active, .itemArticle.cyan a:visited {
  color: #5aaaaa;
  text-decoration: none; }

.itemArticle.cyan blockquote.short-blockquote, .itemArticle.cyan .pullquote {
  color: #5aaaaa; }

.itemArticle.cyan *:not(:first-of-type) div:before,
.itemArticle.cyan * div:not(:first-of-type):before,
.itemArticle.cyan div:not(:first-of-type):before {
  background-color: #5aaaaa; }

.itemArticle.cyan:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.cyan:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.cyan:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #5aaaaa; }

.itemArticle.cyan.dropCapIsStroke > p:not(.short-para):first-of-type:first-letter,
.itemArticle.cyan.dropCapIsStroke > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.cyan.dropCapIsStroke > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: transparent;
  -webkit-text-stroke: 2px #444444; }

.itemArticle.cyan.dropCapIsStroke:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.cyan.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.cyan.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  -webkit-text-stroke-color: #5aaaaa; }

.itemArticle.blue1 a, .itemArticle.blue1 a:active, .itemArticle.blue1 a:visited {
  color: #5a82aa;
  text-decoration: none; }

.itemArticle.blue1 blockquote.short-blockquote, .itemArticle.blue1 .pullquote {
  color: #5a82aa; }

.itemArticle.blue1 *:not(:first-of-type) div:before,
.itemArticle.blue1 * div:not(:first-of-type):before,
.itemArticle.blue1 div:not(:first-of-type):before {
  background-color: #5a82aa; }

.itemArticle.blue1:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.blue1:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.blue1:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #5a82aa; }

.itemArticle.blue1.dropCapIsStroke > p:not(.short-para):first-of-type:first-letter,
.itemArticle.blue1.dropCapIsStroke > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.blue1.dropCapIsStroke > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: transparent;
  -webkit-text-stroke: 2px #444444; }

.itemArticle.blue1.dropCapIsStroke:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.blue1.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.blue1.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  -webkit-text-stroke-color: #5a82aa; }

.itemArticle.blue2 a, .itemArticle.blue2 a:active, .itemArticle.blue2 a:visited {
  color: #5a5aaa;
  text-decoration: none; }

.itemArticle.blue2 blockquote.short-blockquote, .itemArticle.blue2 .pullquote {
  color: #5a5aaa; }

.itemArticle.blue2 *:not(:first-of-type) div:before,
.itemArticle.blue2 * div:not(:first-of-type):before,
.itemArticle.blue2 div:not(:first-of-type):before {
  background-color: #5a5aaa; }

.itemArticle.blue2:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.blue2:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.blue2:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #5a5aaa; }

.itemArticle.blue2.dropCapIsStroke > p:not(.short-para):first-of-type:first-letter,
.itemArticle.blue2.dropCapIsStroke > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.blue2.dropCapIsStroke > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: transparent;
  -webkit-text-stroke: 2px #444444; }

.itemArticle.blue2.dropCapIsStroke:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.blue2.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.blue2.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  -webkit-text-stroke-color: #5a5aaa; }

.itemArticle.purple1 a, .itemArticle.purple1 a:active, .itemArticle.purple1 a:visited {
  color: #825aaa;
  text-decoration: none; }

.itemArticle.purple1 blockquote.short-blockquote, .itemArticle.purple1 .pullquote {
  color: #825aaa; }

.itemArticle.purple1 *:not(:first-of-type) div:before,
.itemArticle.purple1 * div:not(:first-of-type):before,
.itemArticle.purple1 div:not(:first-of-type):before {
  background-color: #825aaa; }

.itemArticle.purple1:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.purple1:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.purple1:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #825aaa; }

.itemArticle.purple1.dropCapIsStroke > p:not(.short-para):first-of-type:first-letter,
.itemArticle.purple1.dropCapIsStroke > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.purple1.dropCapIsStroke > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: transparent;
  -webkit-text-stroke: 2px #444444; }

.itemArticle.purple1.dropCapIsStroke:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.purple1.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.purple1.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  -webkit-text-stroke-color: #825aaa; }

.itemArticle.purple2 a, .itemArticle.purple2 a:active, .itemArticle.purple2 a:visited {
  color: #aa5aaa;
  text-decoration: none; }

.itemArticle.purple2 blockquote.short-blockquote, .itemArticle.purple2 .pullquote {
  color: #aa5aaa; }

.itemArticle.purple2 *:not(:first-of-type) div:before,
.itemArticle.purple2 * div:not(:first-of-type):before,
.itemArticle.purple2 div:not(:first-of-type):before {
  background-color: #aa5aaa; }

.itemArticle.purple2:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.purple2:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.purple2:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: #aa5aaa; }

.itemArticle.purple2.dropCapIsStroke > p:not(.short-para):first-of-type:first-letter,
.itemArticle.purple2.dropCapIsStroke > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.purple2.dropCapIsStroke > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: transparent;
  -webkit-text-stroke: 2px #444444; }

.itemArticle.purple2.dropCapIsStroke:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.purple2.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.purple2.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  -webkit-text-stroke-color: #aa5aaa; }

body .itemArticle.dropCapIsMonochrome > p:not(.short-para):first-of-type:first-letter {
  color: #000; }

.dark-background body .itemArticle.dropCapIsMonochrome > p:not(.short-para):first-of-type:first-letter {
  color: #ddd; }

html.onboarding {
  font-size: calc(7vw); }
  @media (min-width: 600px) {
    html.onboarding {
      font-size: calc(4vw); } }
  html.onboarding body {
    margin: 0;
    font-family: "IBMPlexMono";
    width: 100vw;
    background-color: transparent;
    padding: .5rem;
    padding-top: 3rem;
    color: white; }
  html.onboarding h1 {
    color: #f6be3c;
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    text-align: center; }
  html.onboarding p {
    font-size: 0.666rem;
    line-height: 1rem;
    margin: 0 0 1rem; }
  html.onboarding a {
    color: white; }
  html.onboarding .swipe {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    text-align: center;
    font-size: 0.666rem;
    color: #f6be3c;
    background-image: url(webview/img/share-arrow.png); }
  html.onboarding img {
    display: block;
    margin: 0 auto 1rem; }
