* {
  box-sizing: border-box; }

html {
  font-size: calc(7vw);
  transition: font-size 0.2s; }
  @media (min-width: 600px) {
    html {
      font-size: calc(4vw); } }
  html.font-size-1 {
    font-size: calc(5vw); }
    @media (min-width: 600px) {
      html.font-size-1 {
        font-size: calc(3vw); } }
  html.font-size-2 {
    font-size: calc(6vw); }
    @media (min-width: 600px) {
      html.font-size-2 {
        font-size: calc(4vw); } }
  html.font-size-3 {
    font-size: calc(7vw); }
    @media (min-width: 600px) {
      html.font-size-3 {
        font-size: calc(4.5vw); } }
  html.font-size-4 {
    font-size: calc(8vw); }
    @media (min-width: 600px) {
      html.font-size-4 {
        font-size: calc(5vw); } }
  html.font-size-5 {
    font-size: calc(9vw); }
    @media (min-width: 600px) {
      html.font-size-5 {
        font-size: calc(5.5vw); } }

body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width: 100vw;
  background-color: #f7f7f3;
  transition: background-color, color 0.2s; }
  body, body a, body a:active, body a:visited {
    color: #333333; }
  .dark-background body {
    background-color: black; }
    .dark-background body, .dark-background body a, .dark-background body a:active, .dark-background body a:visited {
      color: #cccccc; }

.item {
  height: 100vh; }

.itemArticle {
  padding: 0;
  margin: 0; }

.cover, .body {
  position: relative;
  margin: 0;
  /*padding: $step * .5;*/
  width: 100%;
  max-width: 100%; }

.itemArticle {
  font-size: calc(1rem / 1.6);
  line-height: 1rem;
  margin: 0; }
  .itemArticle h1, .itemArticle h2, .itemArticle h3, .itemArticle h4, .itemArticle h5 {
    padding: 0;
    line-height: 1em;
    -webkit-hyphens: none;
    hyphens: none; }
  .itemArticle h1, .itemArticle h2, .itemArticle h3 {
    color: var(--feed-color); }
    .itemArticle h1 a, .itemArticle h2 a, .itemArticle h3 a {
      color: var(--feed-color) !important; }
  .itemArticle h1, .itemArticle h2 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 3rem 0 .5rem; }
  .itemArticle h2 {
    font-size: 1rem; }
  .itemArticle h2, .itemArticle h4 {
    font-weight: normal; }
  .itemArticle h3, .itemArticle h4 {
    font-size: 1rem;
    line-height: 1.33rem;
    margin: 2rem 0 0.2rem; }
  .itemArticle h4 {
    font-size: 0.75rem; }
  .itemArticle h5, .itemArticle h6 {
    font-size: calc(1rem / 1.7);
    line-height: 1rem;
    margin: 1rem 0 0; }

.itemArticle {
  position: relative;
  z-index: 10;
  padding: 2rem 4vw 3rem;
  width: 100vw;
  max-width: 22rem;
  margin: 0 auto;
  font-family: "Cochin", serif;
  -webkit-hyphens: auto;
  hyphens: auto;
  -webkit-text-size-adjust: none;
  /* gambling that it's a video */ }
  .itemArticle p, .itemArticle center {
    margin: 0;
    margin-bottom: .666rem; }
  .itemArticle sup {
    line-height: 0; }
  .itemArticle figure, .itemArticle img, .itemArticle video, .itemArticle iframe, .itemArticle pre {
    position: relative !important;
    max-width: calc(100vw - 1rem) !important;
    height: auto;
    margin: .666rem 0;
    border: 0; }
  .itemArticle figure, .itemArticle img, .itemArticle video, .itemArticle pre {
    height: auto !important; }
  .itemArticle figure, .itemArticle img, .itemArticle video, .itemArticle iframe, .itemArticle pre {
    width: 100vw;
    max-width: 100vw !important;
    width: 100vw !important;
    left: -4vw;
    overflow: scroll; }
    @media (min-width: 600px) {
      .itemArticle figure, .itemArticle img, .itemArticle video, .itemArticle iframe, .itemArticle pre {
        left: calc(50% - 50vw); } }
  .itemArticle pre {
    background-color: white;
    border-bottom: 1px solid #ededed; }
  .itemArticle img:not(.img-portrait):not(.img-small) {
    width: 100vw !important; }
  .itemArticle img.img-portrait, .itemArticle img.img-small {
    margin: 0.5rem 0.5rem 1rem;
    max-width: calc(100vw - 1rem) !important;
    width: auto !important; }
    .itemArticle img.img-portrait.img-small, .itemArticle img.img-small.img-small {
      float: left;
      clear: left;
      margin: 0.25rem 0.5rem 0.5rem 0; }
  .itemArticle figure img.img-portrait, .itemArticle figure img.img-small {
    width: calc(100% - 1rem);
    margin-bottom: 0; }
  @media (min-width: 600px) {
    .itemArticle img.img-small {
      left: 0;
      float: left;
      margin-top: 0;
      margin-left: 0; } }
  .itemArticle figure img, .itemArticle figure iframe {
    margin: 0;
    left: 0;
    border-bottom: 0; }
  @media (min-width: 600px) {
    .itemArticle figure.figure-small {
      width: calc(50% - 0.25rem) !important;
      float: left;
      margin-right: 0.5rem;
      left: 0; }
      .itemArticle figure.figure-small figcaption {
        margin: 0;
        padding: .25rem .5rem; }
      .itemArticle figure.figure-small img {
        width: 100% !important;
        margin-left: 0;
        margin-top: 0;
        float: none; }
    .itemArticle p + figure.figure-small {
      margin-top: 0;
      margin-bottom: 0.5rem; } }
  .itemArticle > figure:first-child,
  .itemArticle > img:first-child:not(.img-small),
  .itemArticle > iframe:first-child,
  .itemArticle > p:first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > img:first-child:not(.img-small),
  .itemArticle > *:not(figure):first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > p:first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > img:first-child:not(.img-small),
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > p:first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child:not(.img-small),
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > p:first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child:not(.img-small),
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > p:first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child:not(.img-small),
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > p:first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child:not(.img-small),
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > p:first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > figure:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img:first-child:not(.img-small),
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > iframe:first-child,
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > p:first-child > iframe:first-child {
    position: relative;
    top: -2rem;
    margin-top: 0;
    margin-bottom: 0rem; }
  .itemArticle > img.img-portrait:first-child:not(.img-small),
  .itemArticle > *:not(figure):first-child > img.img-portrait:first-child:not(.img-small),
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child:not(.img-small),
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child:not(.img-small),
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child:not(.img-small),
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child:not(.img-small),
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child:not(.img-small),
  .itemArticle > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > *:not(figure):first-child > img.img-portrait:first-child:not(.img-small) {
    top: -1.5rem; }
  .itemArticle > *:empty + figure:first-child,
  .itemArticle > *:empty + img:first-child,
  .itemArticle > *:empty:first-child + *:first-of-type + figure:first-child,
  .itemArticle > *:empty:first-child + *:first-of-type + img:first-child,
  .itemArticle > *:first-child > *:empty + figure:first-child,
  .itemArticle > *:first-child > *:empty + img:first-child,
  .itemArticle > *:first-child > *:first-child > *:empty + figure:first-child,
  .itemArticle > *:first-child > *:first-child > *:empty + img:first-child,
  .itemArticle > *:first-child > *:first-child > *:first-child > *:empty + figure:first-child,
  .itemArticle > *:first-child > *:first-child > *:first-child > *:empty + img:first-child {
    position: relative;
    top: -2rem;
    margin-top: 0;
    margin-bottom: 0; }
  .itemArticle iframe:not(.twitter-tweet), .itemArticle video {
    height: 55vw !important; }
  .itemArticle blockquote, .itemArticle .pullquote, .itemArticle aside {
    margin: 0 0 1rem;
    font-size: 0.55rem;
    line-height: 1rem;
    background-color: white;
    left: -0.5rem;
    width: 100vw;
    padding: 1rem 0.5rem;
    display: block;
    position: relative;
    -webkit-hyphens: none;
    hyphens: none; }
    .itemArticle blockquote > p:last-of-type, .itemArticle .pullquote > p:last-of-type, .itemArticle aside > p:last-of-type {
      margin-bottom: 0; }
    @media (min-width: 600px) {
      .itemArticle blockquote, .itemArticle .pullquote, .itemArticle aside {
        width: 100%; } }
    .itemArticle blockquote.is-quote, .itemArticle .pullquote.is-quote, .itemArticle aside.is-quote {
      text-indent: -0.45em; }
  .itemArticle blockquote.short-blockquote, .itemArticle .pullquote, .itemArticle aside {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    line-height: 1.33rem;
    font-style: normal;
    padding: 1rem 1.5rem 1rem 1rem;
    margin: 1rem 0;
    text-align: left; }
  .itemArticle figure cite {
    display: none; }
  .itemArticle figcaption, .itemArticle .caption, .itemArticle img + small {
    position: relative;
    padding: .25rem .5rem;
    font-size: 0.5rem;
    font-weight: 300;
    line-height: 0.75rem;
    color: #999999;
    position: relative;
    text-align: left; }
  .itemArticle .caption:not(figcaption) {
    display: block;
    margin: -0.666rem -4vw 1.666rem; }
    .itemArticle .caption:not(figcaption) + .caption:not(figcaption) {
      margin-top: -1.666rem; }
  @media (min-width: 600px) {
    .itemArticle figcaption, .itemArticle blockquote, .itemArticle .caption, .itemArticle img + small {
      margin: 0 -4vw;
      padding: 1rem 4vw;
      left: 0; }
    .itemArticle figcaption, .itemArticle .caption, .itemArticle img + small {
      padding: 0.25rem calc(50vw - 50%) 0.5rem;
      margin: 0 4vw;
      text-align: center; } }
  .itemArticle img + small {
    display: block;
    margin: -2.25rem -4vw 1rem; }
  @media (min-width: 600px) {
    .itemArticle blockquote:not(.pullquote) {
      margin-bottom: 1rem;
      left: calc(50% - 50vw);
      margin: 0 0 1rem;
      padding: 1rem calc(50vw - 50%);
      width: 100vw; } }
  .itemArticle a.unused, .itemArticle a.unused:active, .itemArticle a.unused:visited {
    color: inherit !important;
    /*text-decoration: none;*/
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 19px, rgba(199, 199, 0, 0.3) 19px, rgba(199, 199, 0, 0.3) 24px);
    /*display: inline-block;*/
    /*padding-bottom: 0;*/
    /*line-height: .5;*/ }
    .itemArticle a.unused img, .itemArticle a.unused:active img, .itemArticle a.unused:visited img {
      /* hide link gradient */
      margin-bottom: -6px; }
  .itemArticle figure {
    padding: 0;
    margin: 1rem 0;
    text-align: center; }
  .itemArticle iframe {
    max-width: 100%; }
  .itemArticle twitter-widget {
    margin: 4vw auto !important; }
  .itemArticle pre {
    font-size: 14px;
    line-height: 1.4;
    overflow: scroll;
    color: #333333;
    padding: 14px; }
  .itemArticle ul, .itemArticle ol {
    list-style-type: none;
    padding-left: 0; }
  .itemArticle li {
    padding: 0 0 .5rem; }
    .itemArticle li:before {
      width: 0.4rem;
      content: "";
      float: left;
      height: .15rem;
      margin-right: .2rem;
      margin-bottom: .1rem;
      margin-top: .4rem; }
  .itemArticle ul li:before, .itemArticle ol li:before {
    background-color: var(--feed-color); }
  .itemArticle header {
    font-weight: 500; }
  .itemArticle figure input {
    display: none; }
  .dark-background .itemArticle img:not(.img-portrait):not(.img-small), .dark-background .itemArticle video, .dark-background .itemArticle iframe, .dark-background .itemArticle pre {
    border-bottom: 1px solid #121212; }
  .dark-background .itemArticle blockquote {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .dark-background .itemArticle blockquote, .dark-background .itemArticle figcaption, .dark-background .itemArticle img + small {
    border-bottom: 3px solid rgba(0, 0, 0, 0.1); }
  .dark-background .itemArticle figcaption, .dark-background .itemArticle img + small {
    color: #cccccc; }
  .dark-background .itemArticle blockquote:not(.pullquote) {
    background-color: #1b1b1d;
    color: #e6e6e6 !important; }
  .dark-background .itemArticle pre {
    background-color: #1b1b1d;
    color: #cccccc; }

article {
  margin-bottom: 168px; }

hr {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  width: 66px;
  height: 16px;
  background-color: var(--feed-color);
  border: 0; }

.itemArticle > p:not(.short-para):first-of-type:first-letter,
.itemArticle > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 4rem;
  line-height: .6;
  display: block;
  margin-right: 0.1rem;
  text-decoration: none; }

.itemArticle > p:not(.short-para):first-of-type.firstPara,
.itemArticle > div:first-of-type > p:not(.short-para):first-of-type.firstPara,
.itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type.firstPara {
  border-top: 0;
  padding-top: 0; }

.itemArticle > p:not(.short-para):first-of-type > em:first-letter,
.itemArticle > div:first-of-type > p:not(.short-para):first-of-type > em:first-letter,
.itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type > em:first-letter {
  font-size: inherit; }

.itemArticle.dropCapIsDrop > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapIsDrop > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapIsDrop > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0;
  float: left; }

.itemArticle.dropCapSize2.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 1.825rem; }

.itemArticle.dropCapSize2.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.46rem; }

.itemArticle.dropCapSize2.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 2.05rem; }

.itemArticle.dropCapSize2.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.35rem; }

.itemArticle.dropCapSize2.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 1.95rem; }

.itemArticle.dropCapSize2.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.33rem; }

.itemArticle.dropCapSize2.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 1.95rem; }

.itemArticle.dropCapSize2.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.35rem; }

.itemArticle.dropCapSize2.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 1.95rem; }

.itemArticle.dropCapSize2.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize2.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.4rem; }

.itemArticle.dropCapSize3.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 3.05rem; }

.itemArticle.dropCapSize3.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.6rem; }

.itemArticle.dropCapSize3.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 3.37rem; }

.itemArticle.dropCapSize3.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.43rem; }

.itemArticle.dropCapSize3.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 3.36rem; }

.itemArticle.dropCapSize3.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.36rem; }

.itemArticle.dropCapSize3.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 3.38rem; }

.itemArticle.dropCapSize3.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.37rem; }

.itemArticle.dropCapSize3.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 3.35rem; }

.itemArticle.dropCapSize3.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize3.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.54rem; }

.itemArticle.dropCapSize4.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 4.3rem; }

.itemArticle.dropCapSize4.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.75rem; }

.itemArticle.dropCapSize4.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 4.78rem; }

.itemArticle.dropCapSize4.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.41rem; }

.itemArticle.dropCapSize4.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 4.73rem; }

.itemArticle.dropCapSize4.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.4rem; }

.itemArticle.dropCapSize4.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 4.73rem; }

.itemArticle.dropCapSize4.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.41rem; }

.itemArticle.dropCapSize4.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 4.65rem; }

.itemArticle.dropCapSize4.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize4.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.64rem; }

.itemArticle.dropCapSize5.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 5.6rem; }

.itemArticle.dropCapSize5.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.9rem; }

.itemArticle.dropCapSize5.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 6.18rem; }

.itemArticle.dropCapSize5.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.51rem; }

.itemArticle.dropCapSize5.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 6.13rem; }

.itemArticle.dropCapSize5.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.42rem; }

.itemArticle.dropCapSize5.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 6.13rem; }

.itemArticle.dropCapSize5.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.44rem; }

.itemArticle.dropCapSize5.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 6.1rem; }

.itemArticle.dropCapSize5.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize5.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.77rem; }

.itemArticle.dropCapSize6.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 6.75rem; }

.itemArticle.dropCapSize6.bodyFontSerif1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSerif1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSerif1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 1.03rem; }

.itemArticle.dropCapSize6.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 7.62rem; }

.itemArticle.dropCapSize6.bodyFontSerif2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSerif2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSerif2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.55rem; }

.itemArticle.dropCapSize6.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 7.58rem; }

.itemArticle.dropCapSize6.bodyFontSerif3 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSerif3 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSerif3 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.56rem; }

.itemArticle.dropCapSize6.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 7.5rem; }

.itemArticle.dropCapSize6.bodyFontSans1 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSans1 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSans1 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.475rem; }

.itemArticle.dropCapSize6.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 7.45rem; }

.itemArticle.dropCapSize6.bodyFontSans2 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSans2 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize6.bodyFontSans2 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.92rem; }

.itemArticle.dropCapSize7 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize7 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize7 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-size: 7.1rem; }

.itemArticle.dropCapSize7 > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize7 > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapSize7 > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  margin-top: 0.6rem; }

.itemArticle.dropCapIsBold > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapIsBold > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapIsBold > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  font-weight: 700; }

.single-char-para {
  text-align: center;
  margin: 2rem; }

.bodyFontSerif1 {
  font-family: "LibreBaskerville-Regular", serif;
  font-size: calc(1rem / 1.8); }
  .bodyFontSerif1 em, .bodyFontSerif1 i {
    font-family: "LibreBaskerville-Italic";
    font-style: normal; }
  .bodyFontSerif1 strong, .bodyFontSerif1 b {
    font-family: "LibreBaskerville-Bold";
    font-weight: normal; }
  .bodyFontSerif1 strong em, .bodyFontSerif1 em strong, .bodyFontSerif1 b i, .bodyFontSerif1 i b {
    font-family: "LibreBaskerville-BoldItalic", sans-serif;
    font-style: normal;
    font-weight: normal; }
  .bodyFontSerif1 .itemArticle > p:not(.short-para):first-of-type:first-line,
  .bodyFontSerif1 .itemArticle > div:first-of-type > p:not(.short-para):first-of-type:first-line,
  .bodyFontSerif1 .itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-line {
    font-family: "LibreBaskerville-Bold"; }

.bodyFontSans1 {
  font-family: "IBMPlexSans", sans-serif;
  font-size: calc(1rem / 1.6); }
  .bodyFontSans1 em, .bodyFontSans1 i {
    font-family: "IBMPlexSans-Italic", sans-serif;
    font-style: normal; }
  .bodyFontSans1 strong, .bodyFontSans1 b {
    font-family: "IBMPlexSans-Bold", sans-serif;
    font-weight: normal; }
  .bodyFontSans1 strong em, .bodyFontSans1 em strong, .bodyFontSans1 b i, .bodyFontSans1 i b {
    font-family: "IBMPlexSans-BoldItalic", sans-serif;
    font-style: normal;
    font-weight: normal; }
  .bodyFontSans1 .itemArticle > p:not(.short-para):first-of-type:first-line,
  .bodyFontSans1 .itemArticle > div:first-of-type > p:not(.short-para):first-of-type:first-line,
  .bodyFontSans1 .itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-line {
    font-family: "IBMPlexSans-Bold"; }

.bodyFontSerif2 {
  font-family: "Iowan Old Style", serif; }
  .bodyFontSerif2 em, .bodyFontSerif2 i {
    font-family: "IowanOldStyle-Italic", sans-serif;
    font-style: normal; }
  .bodyFontSerif2 strong, .bodyFontSerif2 b {
    font-family: "IowanOldStyle-Bold", sans-serif;
    font-weight: normal; }
  .bodyFontSerif2 strong em, .bodyFontSerif2 em strong, .bodyFontSerif2 b i, .bodyFontSerif2 i b {
    font-family: "IowanOldStyle-BoldItalic", sans-serif;
    font-style: normal;
    font-weight: normal; }
  .bodyFontSerif2 .itemArticle > p:not(.short-para):first-of-type:first-line,
  .bodyFontSerif2 .itemArticle > div:first-of-type > p:not(.short-para):first-of-type:first-line,
  .bodyFontSerif2 .itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-line {
    font-family: "IowanOldStyle-Bold"; }

.bodyFontSans2 {
  font-family: "AvenirNext-Regular", serif; }
  .bodyFontSans2 em, .bodyFontSans2 i {
    font-family: "AvenirNext-Italic", sans-serif;
    font-style: normal; }
  .bodyFontSans2 strong, .bodyFontSans2 b {
    font-family: "AvenirNext-Bold", sans-serif;
    font-weight: normal; }
  .bodyFontSans2 strong em, .bodyFontSans2 em strong, .bodyFontSans2 b i, .bodyFontSans2 i b {
    font-family: "AvenirNext-BoldItalic", sans-serif;
    font-style: normal;
    font-weight: normal; }
  .bodyFontSans2 .itemArticle > p:not(.short-para):first-of-type:first-line,
  .bodyFontSans2 .itemArticle > div:first-of-type > p:not(.short-para):first-of-type:first-line,
  .bodyFontSans2 .itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-line {
    font-family: "AvenirNext-Bold"; }

.bodyFontSerif3 {
  font-family: "IBMPlexSerif", serif;
  font-size: calc(1rem / 1.7); }
  .bodyFontSerif3 em, .bodyFontSerif3 i {
    font-family: "IBMPlexSerif-Italic", sans-serif;
    font-style: normal; }
  .bodyFontSerif3 strong, .bodyFontSerif3 b {
    font-family: "IBMPlexSerif-Bold", sans-serif;
    font-weight: normal; }
  .bodyFontSerif3 strong em, .bodyFontSerif3 em strong, .bodyFontSerif3 b i, .bodyFontSerif3 i b {
    font-family: "IBMPlexSerif-BoldItalic", sans-serif;
    font-style: normal;
    font-weight: normal; }
  .bodyFontSerif3 .itemArticle > p:not(.short-para):first-of-type:first-line,
  .bodyFontSerif3 .itemArticle > div:first-of-type > p:not(.short-para):first-of-type:first-line,
  .bodyFontSerif3 .itemArticle > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-line {
    font-family: "IBMPlexSerif-Bold"; }

.headerFontSans1 h1, .headerFontSans1 h3, .headerFontSans1 h5 {
  font-family: "AvenirNextCondensed-Bold"; }

.headerFontSans1 h2, .headerFontSans1 h4 {
  font-family: "AvenirNext-Medium"; }

.headerFontSans1 figcaption, .headerFontSans1 img + small, .headerFontSans1 blockquote:not(.short-blockquote):not(.pullquote) {
  font-family: "AvenirNext-MediumItalic"; }
  .headerFontSans1 figcaption em, .headerFontSans1 img + small em, .headerFontSans1 blockquote:not(.short-blockquote):not(.pullquote) em {
    font-family: "AvenirNext-Medium"; }
  .headerFontSans1 figcaption strong, .headerFontSans1 img + small strong, .headerFontSans1 blockquote:not(.short-blockquote):not(.pullquote) strong {
    font-family: "AvenirNext-BoldItalic"; }
  .headerFontSans1 figcaption em strong, .headerFontSans1 figcaption strong em, .headerFontSans1 img + small em strong, .headerFontSans1 img + small strong em, .headerFontSans1 blockquote:not(.short-blockquote):not(.pullquote) em strong, .headerFontSans1 blockquote:not(.short-blockquote):not(.pullquote) strong em {
    font-family: "AvenirNext-Bold"; }

.headerFontSans2 h1, .headerFontSans2 h3, .headerFontSans2 h5 {
  font-family: "Poppins-ExtraBold"; }

.headerFontSans2 h2, .headerFontSans2 h4 {
  font-family: "Poppins-Regular"; }

.headerFontSans2 figcaption, .headerFontSans2 img + small, .headerFontSans2 blockquote:not(.short-blockquote):not(.pullquote) {
  font-family: "Poppins-Italic"; }
  .headerFontSans2 figcaption em, .headerFontSans2 img + small em, .headerFontSans2 blockquote:not(.short-blockquote):not(.pullquote) em {
    font-family: "Poppins-Regular"; }
  .headerFontSans2 figcaption strong, .headerFontSans2 img + small strong, .headerFontSans2 blockquote:not(.short-blockquote):not(.pullquote) strong {
    font-family: "Poppins-ExtraBoldItalic"; }

.headerFontSans3 h1, .headerFontSans3 h3, .headerFontSans3 h5 {
  font-family: "Montserrat-Bold"; }

.headerFontSans3 h2, .headerFontSans3 h4 {
  font-family: "Montserrat-Light"; }

.headerFontSans3 figcaption, .headerFontSans3 img + small, .headerFontSans3 blockquote:not(.short-blockquote):not(.pullquote) {
  font-family: "Montserrat-LightItalic"; }
  .headerFontSans3 figcaption em, .headerFontSans3 img + small em, .headerFontSans3 blockquote:not(.short-blockquote):not(.pullquote) em {
    font-family: "Montserrat-Light"; }
  .headerFontSans3 figcaption strong, .headerFontSans3 img + small strong, .headerFontSans3 blockquote:not(.short-blockquote):not(.pullquote) strong {
    font-family: "Montserrat-BoldItalic"; }

.headerFontSerif1 h1, .headerFontSerif1 h3, .headerFontSerif1 h5 {
  font-family: "PlayfairDisplay-Black"; }

.headerFontSerif1 h2, .headerFontSerif1 h4 {
  font-family: "PlayfairDisplay-Regular"; }

.headerFontSerif1 figcaption, .headerFontSerif1 img + small, .headerFontSerif1 blockquote:not(.short-blockquote):not(.pullquote) {
  font-family: "IBMPlexSerif-Italic"; }
  .headerFontSerif1 figcaption em, .headerFontSerif1 img + small em, .headerFontSerif1 blockquote:not(.short-blockquote):not(.pullquote) em {
    font-family: "IBMPlexSerif"; }
  .headerFontSerif1 figcaption strong, .headerFontSerif1 img + small strong, .headerFontSerif1 blockquote:not(.short-blockquote):not(.pullquote) strong {
    font-family: "IBMPlexSerif-BoldItalic"; }
  .headerFontSerif1 figcaption em strong, .headerFontSerif1 figcaption strong em, .headerFontSerif1 img + small em strong, .headerFontSerif1 img + small strong em, .headerFontSerif1 blockquote:not(.short-blockquote):not(.pullquote) em strong, .headerFontSerif1 blockquote:not(.short-blockquote):not(.pullquote) strong em {
    font-family: "PlayfairDisplay-Bold"; }

.feedflare {
  display: none !important; }

.itemArticle a, .itemArticle a:active, .itemArticle a:visited {
  text-decoration: none;
  border-bottom: 2px solid var(--feed-color); }

.itemArticle blockquote.short-blockquote, .itemArticle .pullquote, .itemArticle aside {
  color: var(--feed-color); }

.itemArticle *:not(:first-of-type) div:before,
.itemArticle * div:not(:first-of-type):before,
.itemArticle div:not(:first-of-type):before {
  background-color: var(--feed-color); }

.itemArticle:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: var(--feed-color); }

.itemArticle.dropCapIsStroke > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapIsStroke > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapIsStroke > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  color: transparent;
  -webkit-text-stroke: 2px #444444; }

.itemArticle.dropCapIsStroke:not(.dropCapIsMonochrome) > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > p:not(.short-para):first-of-type:first-letter,
.itemArticle.dropCapIsStroke:not(.dropCapIsMonochrome) > div:first-of-type > div:first-of-type > p:not(.short-para):first-of-type:first-letter {
  -webkit-text-stroke-color: var(--feed-color); }

body .itemArticle.dropCapIsMonochrome > p:not(.short-para):first-of-type:first-letter {
  color: #000; }
  .dark-background body .itemArticle.dropCapIsMonochrome > p:not(.short-para):first-of-type:first-letter {
    color: #ddd; }

html.onboarding {
  font-size: calc(7vw); }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-max-device-pixel-ratio: 2) {
    html.onboarding {
      font-size: calc(4vw); } }
  html.onboarding body {
    margin: 0;
    width: 100vw;
    background-color: #ded9ca;
    color: #27232f;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120; }
  html.onboarding div.logo {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(/webview/img/rizzle.svg);
    background-size: cover;
    background-position: var(--logo-position);
    background-repeat: no-repeat;
    opacity: 0.05;
    overflow: hidden;
    transform: scale(1.3333); }
  html.onboarding article {
    padding: 1rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
  html.onboarding h1 {
    color: #4e3a6e;
    font-size: 2rem;
    font-family: PTSerif-Bold;
    font-weight: inherit;
    line-height: 1;
    margin-top: 0;
    text-align: center; }
  html.onboarding h1::before {
    content: "";
    display: block;
    width: 100%;
    height: 12vh;
    margin-top: 6vh;
    margin-bottom: 6vh;
    background-image: url("../img/logo@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  html.onboarding hr {
    border-top-style: none;
    margin: 2em; }
  html.onboarding p {
    font-family: "IBMPlexSans";
    color: #4b4554;
    font-size: 0.666rem;
    line-height: 1rem;
    margin: 0 0 1rem;
    max-width: 15rem;
    text-align: center; }
    html.onboarding p strong {
      font-family: "IBMPlexSans-Bold"; }
    html.onboarding p em {
      font-family: "IBMPlexSans-Italic"; }
  html.onboarding a {
    color: white; }
  html.onboarding .swipe {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    text-align: center;
    font-size: 0.666rem;
    font-family: IBMPlexMono; }
  html.onboarding img {
    display: block;
    margin: -1rem auto 1rem; }
  html.onboarding.dark-background body {
    background-color: black;
    color: #e6e6e6; }
    html.onboarding.dark-background body, html.onboarding.dark-background body a, html.onboarding.dark-background body a:active, html.onboarding.dark-background body a:visited {
      color: #e6e6e6; }
